<script type="text/javascript">
function select_city(id)
	{
		var city_name=document.getElementById(id).value
		var field_names=new Array('state','country');
		if(city_name)
		{
			req = new Ajax.Request('/agency_masters/select_city/1', {
				method: 'get',
				parameters: { city_name: city_name },
				onComplete: function(transport) {
				processReqChange(transport);
				}
			}); // end ajax req
		}
		else
		{
			alert("Please Select city")
			for(var i=0;i<2;i++)
			{
				document.getElementById(field_names[i]).style.background='white'
				document.getElementById(field_names[i]).readOnly=false
				document.getElementById(field_names[i]).value=""
			}
		}
	}
	</script>
<% form_for(@agency_master) do |f| %>
  <div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">Pharmacy Masters >>&nbsp;&nbsp;&nbsp;<a HREF='/agency_masters?user_id=<%= @person.id %>' class="nav" style="text-decoration:none;">Supplier/Agency Masters</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<div align="center" >
 <fieldset>
<legend>Supplier/Agency Details</legend> 
<table width="100%">
<td><%= f.hidden_field :org_code, :class =>"text_field", :id => "org_code", :value =>@org_code, :readonly =>true %></td>
<td><%= f.hidden_field :org_location, :class =>"text_field", :id => "org_location", :value =>@org_location, :readonly =>true %></td>
  <tr>
		<td>Supplier Name<sup>*</sup></td>
		<td><%= f.text_field :agency_name, :class =>"text_field" %></td> 
		<td>Address1<sup>*</sup></td>
		<td><%= f.text_field :address, :class => "text_field" %></td> 
		<td>Address2</td>
		<td><%= f.text_field :address1, :class => "text_field" %></td> 
		<td>City<sup>*</sup></td>
    		<td><%= f.select :city,CityMaster.find(:all).collect{|p| [p.name]},{:prompt => true},{:id => "city", :onchange => "select_city(id)"} %></td>
 </tr>   
 <tr>
		
    		<td><%= f.label :state %></td>
    		<td><%= f.text_field :state, :id => "state", :class => "text_field" %></td>
    		<td><%= f.label :country %></td>
   		<td><%= f.text_field :country, :id => "country", :class => "text_field" %></td>
		<td>PIN</td>
   		<td><%= f.text_field :pin, :id => "pin", :class => "text_field" %></td>

	<td>Phone</td>
	<td><%= f.text_field :phone, :id => "pin", :class => "text_field" %></td>
</tr>
<tr>
	<td>Contact Person<sup>*</sup></td>
	<td><%= f.text_field :contact_person, :class => "text_field" %></td> 
	<td>Contact No<sup>*</sup></td>
	<td><%= f.text_field :contact_no, :class => "text_field" %></td>
	<td>Email</td>
	<td><%= f.text_field :agency_email, :class => "text_field", :placeholder=>"exleaz@gmail.com" %></td>
	
	<td>Website</td>
	<td><%= f.text_field :website, :class => "text_field", :placeholder=>"www.exleaz.com" %></td>    
</tr>
<tr>
	
	<td>List Of Items Supplied </td>  
	<td><%= f.text_field :list_of_items_supplied, :class => "text_field" %> </td> 
	<td><%= f.label :status %></td>
	<td><%= f.text_field :status, :class => "text_field" %></td>  			

	<td>Reg Type</td>
<td><%= f.select :reg_type, [['VAT'],['TOT'],['VAT'],['NON TOT'],['OUT OF SALE'],['OTHER']], {:include_blank => false},{:id =>"adt" , :onchange=> "checked_value()", :style=>"width:158px;" } %></td>
 
	
	
</tr>
</table>
<table align="left">
<tr>
	<td></td>
	<td>Note&nbsp;&nbsp;&nbsp;</td>
	<td><%= f.text_area :note, :class=>"45x5", :cols=>"25", :rows=>"5" %> </td>
  </tr>
</table>
</fieldset>
<fieldset>		
<legend><div class="font"><b>Tax Info</b></div></legend>			
	<table align="left">
	<tr>
			<td>CST NO</td>
			<td><%= f.text_field :cstno, :id => "cstno", :size =>40 %></td>
		</tr>
		<tr>
			<td>ST NO</td>
			<td><%= f.text_field :stno, :id => "stno", :size =>40 %></td>
		</tr>
		<tr>
			<td>DL NO1</td>
			<td><%= f.text_field :dlno1, :id => "dlno1", :size =>40 %></td>
		</tr>
		<tr>
			<td>DL NO2</td>
			<td><%= f.text_field :dlno2, :id => "dlno2", :size =>40 %></td>
		</tr>
		<tr>
			<td>TIN/GRN</td>
			<td><%= f.text_field :tin, :id => "tin", :size =>40 %></td>
		</tr>

	
	</table>

</fieldset>

</div>
 <table align="center">
    <tr>
		<td><%= submit_tag "", :value => " Save ", :class => "submit_button" %></td>

<td><%= submit_tag "", :value => " Reset ", :type => "reset",  :class => "submit_button" %></td>
	<td valign="middle"><%= link_to "Back",  agency_masters_path, :class=>"new1" %></td> 
	</tr>
  </table>
<% end %>
   
