<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">Pharmacy Masters >>&nbsp;&nbsp;&nbsp;<a HREF='/agency_masters?user_id=<%= @person.id %>' class="nav" style="text-decoration:none;">Agency Masters</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<% id="datacellone" %>
<% id1="datacelltwo" %>
<div  width="100%">
 <table align="center" width="70%" border="0" cellspacing="2" cellpadding="4">
	<tr>
		<td class="button" colspan="9"><center><h3><b>Details of Agency</b></h3></center></td> <br/>
	</tr> 
	<tr>
		<td class='<%= id %>'><b>Agency Name</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.agency_name %></td>  
		<td class='<%= id %>'><b>Agency Tin No</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.agency_tin_no %></td>
</tr>
<tr>
		<td class='<%= id %>'><b>Vat No</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1%>'> <%=h @agency_master.vat_no %></td>

		<td class='<%= id %>'><b>List Of Items Supplied</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.list_of_items_supplied %></td>  
</tr>
<tr>	
		<td class='<%= id %>'><b>Address</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.address %></td>
		<td class='<%= id %>'><b>City</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.city %></td>
</tr>
<tr>
		<td class='<%= id %>'><b>State</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.state %></td>
		<td class='<%= id %>'><b>Country</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.country %></td>
	</tr>
	<tr>		
		<td class='<%= id %>'><b>Contact Person</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.contact_person %></td>

		<td class='<%= id %>'><b>Agency Email</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.agency_email %></td>
</tr>
<tr>
		<td class='<%= id %>'><b>Contact No</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.contact_no %></td>

		<td class='<%= id %>'><b>Status</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.status %></td> 
	</tr>
<tr>
		<td class='<%= id %>'><b>Note</b></td>
		<td class='<%= id1 %>'>:</td>
		<td class='<%= id1 %>'> <%=h @agency_master.note %></td>
	</tr>
</table>
</div>
<br/>
<center>
<td valign="middle"><%= link_to "back",  agency_masters_path, :class=>"new1" %></td> 
</center>
