<script type="text/javascript">
	function open_new_window(test_name,lab_id,org_code,investigation)
	{
		if(investigation=="Laboratory")
		{
			req = new Ajax.Request('/test_bookings/check_test/1', 
			{
			
				method: 'get',
				parameters: {test_name: test_name, org_code:org_code },
				onComplete: function(transport){
					processReqChange(transport);
					}
			}); // end ajax req
			function processReqChange(req) 
			{
			// request is complete
				if (req.readyState == 4) 
				{
					if(req.responseText=="sucess")
						window.open('/store_test_results/new?test_name='+test_name+'&lab_id='+lab_id+'&org_code='+org_code,'open_window','dependent, width=900, height=480, left=0, top=0');	
					else
						alert("Please enter test parameters")
					 
				}
			}
		}
		else
			window.open('/store_radiology_tests/new?test_name='+test_name+'&lab_id='+lab_id+'&org_code='+org_code,'open_window','dependent, width=900, height=480, left=0, top=0');		
		
	}
</script>
<table border="1" cellspacing="0" align="center" width="90%">
	<tr bgcolor ="#378bf8" style="color:white;">
		<th>S.No</th>
		<th>Lab No</td>
		<th>Date</th>
		<th>MR No/Admn.No</th>
		<th>Patient Name</th>
		<th>Ward/Room/Bed/Floor</th>
		<th>Test Name</th>
		<th colspan="3" align="center">Results</th>
	</tr>
	<% i=0 %>
	<% for test_booking in @test_bookings %>
		<% @test_booking_children=TestBookingChild.find(:all, :conditions => "test_booking_id = #{test_booking.id} and investigation LIKE '#{@department_name}%'") %>
		<% if(!@lab_id.empty?) %>
		<tr>
			<td><%= i+=1 %></td>
			<td><%= @lab_id %></td>
			<td><%= test_booking.booking_date %></td>
			<td><%= test_booking.mr_no %></td>
			<td><%= test_booking.patient_name %></td>
			<td>&nbsp;</td>
			<td><%= @test_booking_children.length %></td>
			<td align="center" colspan="3"><a href="javascript:void(0)" onclick="window.open('/store_test_result_children/print_selection/1?lab_no=<%= @lab_id %>','open_window','dependent, width=900, height=480, left=0, top=0');">Print By Selection</a></td>
		</tr>
		<% else %>
			<% for test_booking_children in @test_booking_children %>
				<tr>
					<td style="height:30px"><%= i+=1 %></td>
					<td><%= test_booking.lab_no %></td>
					<td><%= test_booking.booking_date %></td>
					<td><%= test_booking.mr_no %>/<%= test_booking.admn_no %></td>
					<td><%= test_booking.patient_name %></td>
					<% if(test_booking.patient_type=="IP") %>
						<% admission=Admission.find_by_admn_no(test_booking.admn_no) %>
						<td><%= admission.ward+" / "+admission.room+" / "+admission.bed+" / "+admission.floor %></td>
					<% else %>
						<td align="center">--------------------</td>
					<% end %>
					<td><%= test_booking_children.test_name %></td>
					<% if(test_booking_children.investigation=="Laboratory") %>
						<% store_test_result=StoreTestResult.find_by_service_name_and_test_booking_id(test_booking_children.test_name,test_booking.id)%>
						<% if(!store_test_result) %>
							<td align="center" colspan="3"><a href="javascript:void(0)" onclick="open_new_window('<%= test_booking_children.test_name %>','<%= test_booking.lab_no %>','<%= test_booking.org_code %>','Laboratory')"><input type="button" value="New" class="new1"></a></td>
						<% else %>	
							<td align="center"><a href="javascript:void(0)" onclick="window.open('/store_test_result_children/show/<%= store_test_result.id %>?test_name=<%= test_booking_children.test_name %>','open_window','dependent, width=900, height=480, left=0, top=0');"><input type="button" value="show" class="new1"></td>
							<td align="center"><a href="javascript:void(0)" onclick="window.open('/store_test_result_children/report/<%= store_test_result.id %>?test_name=<%= test_booking_children.test_name %>&format=pdf','open_window','dependent, width=900, height=480, left=0, top=0');"><input type="button" value="print" class="new1"></td>
							<td align="center"><a href="javascript:void(0)" onclick="window.open('/store_test_results/<%= store_test_result.id %>/edit','open_window','dependent, width=900, height=480, left=0, top=0');"><input type="button" value="edit" class="new1"></a></td>
						<% end %>
					<% else%>	
						<% store_radiology_test_result=StoreRadiologyTest.find_by_test_name_and_lab_no(test_booking_children.test_name,test_booking.lab_no)%>
						<% if(store_radiology_test_result)%>
							<td align="center"><a href="javascript:void(0)" onclick="window.open('/store_radiology_tests/show/<%= store_radiology_test_result.id %>?test_name=<%= test_booking_children.test_name %>','open_window','dependent, width=900, height=480, left=0, top=0');"><input type="button" value="show" class="new1"></a></td>
							<td align="center"><a href="javascript:void(0)" onclick="window.open('/store_radiology_tests/report/<%= store_radiology_test_result.id %>?test_name=<%= test_booking_children.test_name %>&format=pdf','open_window','dependent, width=900, height=480, left=0, top=0');"><input type="button" value="print" class="new1"></a></td>
							<td align="center"><a href="javascript:void(0)" onclick="window.open('/store_radiology_tests/<%= store_radiology_test_result.id %>/edit','open_window','dependent, width=900, height=480, left=0, top=0');"><input type="button" value="edit" class="new1"></a></td>
						<% else %>
							<td align="center" colspan="3"><a href="javascript:void(0)" onclick="open_new_window('<%= test_booking_children.test_name %>','<%= test_booking.lab_no %>','<%= test_booking.org_code %>','Radiology')"><input type="button" value="New" class="new1"></a></td>
						<% end %>	
					<% end %>
				</tr>
			<% end %>
		<% end %>
	<% end %>
</table>