<script type="text/javascript"> 
		
	function testbooking_search()
	{   
		
		var from_date=document.getElementById('from_date_').value
		var to_date=document.getElementById('to_date_').value
		var service=document.getElementById('services').value
	
		var org_code=document.getElementById('org_code_c').value
		var lab_department=document.getElementById('lab_department').value
		
        if(from_date=="" || to_date=="")		
		{
		alert("Please Select The Date Range")
          return false		
		}
		
		
		document.getElementById("frame").src="/test_bookings/test_report/1?from_date="+from_date+"&to_date="+to_date+"&service="+service+"&lab_department="+lab_department+"&format=pdf"
		
	}
	function clear_function()
	{
		document.getElementById('org_codeall').value=""
		document.getElementById('from_date_').value=""
		document.getElementById('to_date_').value=""
		document.getElementById('age').value=""
		document.getElementById('patient').value=""		
		document.getElementById('reffered_by').value=""		
	}

	function find_test_details(id)
	{
		var test_name= document.getElementById(id).value
		var org_code = document.getElementById("org_code_c").value
		var selected_type="department"
		if(test_name)
		{
			req = new Ajax.Request('/test_bookings/ajax_function/1', 
				{
					method: 'get',
					parameters: { query:test_name, org_code:org_code, selected_type:selected_type },
					onComplete: function(transport){
						processReqChange(transport);
						}
				}); // end ajax req
			function processReqChange(req) 
			{
				// request is complete
				if (req.readyState == 4) 
				{
					var results = req.responseText;
					
					var temp=results.split("<division>")

					document.getElementById("services").length=0
					var opt = document.createElement("option");
					document.getElementById("services").options.add(opt);
					opt.text = ""
					opt.value = ""
					for(i=0;i<temp.length-1;i++)
					{
						var opt = document.createElement("option");
						document.getElementById("services").options.add(opt);
						opt.text = temp[i]
						opt.value = temp[i]
					}
				}
			}
		}
	}
 </script> 

<body style="margin:0px;" onLoad="testbooking_search()">

<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">&nbsp;&nbsp;Report >>&nbsp;&nbsp;&nbsp;Laboratory Reports >>&nbsp;&nbsp;&nbsp;<a HREF='/test_bookings/test_wise_report/1' class="nav" style="text-decoration:none;">Test Wise Report</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<div id="form_data">
<font size="3" face="Calibri">
<%= form_tag ({:controller => "test_bookings", :action => "generate_reports"}, {:method => "post"}) %>
<% @date=format_date(:sort, Date.today ) %>
<% @prev_date=format_date(:sort, Date.today-7 ) %>
<fieldset>
<legend><div class="font"><b>Search</b></div></legend>
<% test_master=Testmaster.first %>
<table width="100%"  align="center">
<tr>
	<td>Org.Code</td>
	<td><%= select :org_code,"c", Person.find(:all, :select =>"DISTINCT org_code").collect{|p| [p.org_code]}, {:prompt =>'All'} %></td>
	<td><label for="item_name">From Date</label></td>
	<td><%= text_field('from_date', '',:size => 8, :value => @prev_date) %><a href="javascript:void(0)" onClick="setYears(2000, 2050);showCalender(this,'from_date_');" >
		<img src="/images/cal.gif" ></a></td>
    <td><label for="item_name">To Date</label></td>
	<td><%= text_field('to_date', '',:size => 8, :value => @date) %><a href="javascript:void(0)" onClick="setYears(2000, 2050);showCalender(this,'to_date_');" >
		<img src="/images/cal.gif" ></a></td>

	<td>Lab Departments</td>
	<td><%= select ('test_department','',Testmaster.find(:all, :select =>"DISTINCT department_name").collect{|p| [p.department_name]},{:prompt =>false},{:id => "lab_department",:onchange => "find_test_details(id)"}) %></td>

	<td>Services</td>
       <td colspan="3"><%= select ('services','',Testmaster.find(:all, :conditions => "department_name='#{test_master.department_name}'").collect{|p| [p.test_name]},{:prompt =>false},{:id => "services"}) %></td>

	<td colspan="2"><%= link_to "Search","javascript:testbooking_search()",:class=>"submit_button" %></a></td>
</tr>	
</table>
</fieldset>

<div class="font" id="table">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Results :</b>
</div>
<table id="calenderTable">
        <tbody id="calenderTableHead">
          <tr>
            <td colspan="4" align="center">
	          <select onChange="showCalenderBody(createCalender(document.getElementById('selectYear').value,
	           this.selectedIndex, false));" id="selectMonth">
	              <option value="0">Jan</option>
	              <option value="1">Feb</option>
	              <option value="2">Mar</option>
	              <option value="3">Apr</option>
	              <option value="4">May</option>
	              <option value="5">Jun</option>
	              <option value="6">Jul</option>
	              <option value="7">Aug</option>
	              <option value="8">Sep</option>
	              <option value="9">Oct</option>
	              <option value="10">Nov</option>
	              <option value="11">Dec</option>
	          </select>
            </td>
            <td colspan="2" align="center">
			    <select onChange="showCalenderBody(createCalender(this.value, 
				document.getElementById('selectMonth').selectedIndex, false));" id="selectYear">
				</select>
			</td>
           
		  </tr>
       </tbody>
       <tbody id="calenderTableDays">
         <tr style="">
           <td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td>
         </tr>
       </tbody>
       <tbody id="calender"></tbody>
    </table>
</body>

 <center>
   <iframe src="" id="frame" width="100%" height="400px" align="center" style="border:none"/>
</center>
</body>