<%= javascript_include_tag :defaults %>
<script type="text/javascript">
	function set_url()
	{
		
		var from_date=document.getElementById('from_date').value
		var to_date=document.getElementById('to_date').value
		var org_code=document.getElementById('org_code_c').value
		
		req = new Ajax.Request('/test_bookings/report_generate/1', 
			{
				method: 'get',
				parameters: {from_date :from_date, to_date :to_date, org_code :org_code },
				onComplete: function(transport){
					processReqChange(transport);
					}
			}); // end ajax req
		function processReqChange(req) 
		{
			// request is complete
			
			if (req.readyState == 4) 
			{(req.responseText)
				alert
				if(req.responseText=="error")
					document.getElementById("error").innerHTML="Records not found"
				else
				{
					document.getElementById("search_result").innerHTML=req.responseText
					document.getElementById("error").style.display='none'
				}
			}
		}
	}
</script>
<body style="margin:0px;" onload="set_url()">

<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">&nbsp;&nbsp;Report >>&nbsp;&nbsp;&nbsp;Laboratory Reports >>&nbsp;&nbsp;&nbsp;<a HREF='/test_bookings/total_test_collection_report/1' class="nav" style="text-decoration:none;">Total Collection Report</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<div id="form_data">
<% @date=format_date(:sort, Date.today ) %>
<% @pre_date=format_date(:sort, Date.today-7 ) %>
<fieldset><legend>Search Tests</legend>
	<table width="70%" align="center">
		<tr>
		    <td>Org.Code</td>
			<td><%= select :org_code,"c", Person.find(:all, :select =>"DISTINCT org_code").collect{|p| [p.org_code]}, {:prompt =>'All'} %></td>
			<td>Form Date</td>
			<td><%= text_field_tag('from_date','',:size=>20, :value => @pre_date) %><a href="javascript:void(0)" onClick="setYears(2000, 2050);showCalender(this,'from_date');" >
			<img src="/images/cal.gif" ></a></td>
			<td>To Date</td>
			<td><%= text_field_tag('to_date','',:size=>20, :value => @date) %><a href="javascript:void(0)" onClick="setYears(2000, 2050);showCalender(this,'to_date');" >
			<img src="/images/cal.gif" ></a></td>
			<td><a href="javascript:void(0)" onclick="set_url()" class="submit_button">Search</a></td>
		</tr>
	</table>
</fieldset>
<div id="search_result"></div>

<table id="calenderTable">
    <tbody id="calenderTableHead">
        <tr>
			<td colspan="4" align="center">
	          <select onChange="showCalenderBody(createCalender(document.getElementById('selectYear').value,
	           this.selectedIndex, false));" id="selectMonth">
	              <option value="0">Jan</option>
	              <option value="1">Feb</option>
	              <option value="2">Mar</option>
	              <option value="3">Apr</option>
	              <option value="4">May</option>
	              <option value="5">Jun</option>
	              <option value="6">Jul</option>
	              <option value="7">Aug</option>
	              <option value="8">Sep</option>
	              <option value="9">Oct</option>
	              <option value="10">Nov</option>
	              <option value="11">Dec</option>
	          </select>
            </td>
            <td colspan="2" align="center">
			    <select onChange="showCalenderBody(createCalender(this.value, 
				document.getElementById('selectMonth').selectedIndex, false));" id="selectYear">
				</select>
			</td>
            
		</tr>
	</tbody>
	<tbody id="calenderTableDays">
		<tr style="">
			<td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td>
		</tr>
	</tbody>
    <tbody id="calender"></tbody>
</table>
</body>