<table id="tablesorter-demo" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
<thead>
  <tr>
    <th>S.No</th>
    <th>Admn.No</th>
    <th>MR No</th>
    <th>Date</th>
    <th>Bill No</th>
    <th>Gross Amount</th>
    <th>Due</th>
	<th colspan="2">Permissions</th>
  </tr>
  </thead>
<tbody>
<% @i=0 %>
<% @ip_due.each do |ip_due| %>
  <% if((@i%2)==0) 
		id="datacelltwo"
	else
		id="datacellone"
  end %>
  <tr class='<%= id %>'>
    <td><%= @i=@i+1 %></td>
    <td><%=h ip_due.admn_no %></td>
    <td><%=h ip_due.mr_no %></td>
    <td><%=h ip_due.due_date %></td>
    <td><%=h ip_due.receipt_no %></td>
    <td><%=h ip_due.gross_amount %></td>
    <td><%=h ip_due.due %></td>
 	<td  align="center"><a href="ip_dues/<%= ip_due.id %>?user_id=<%= @user_id %>"><image src="/images/buttons/display1.png" size = "54x21" border ="0" /></a></td>
	<td  align="center"><a href="ip_dues/<%= ip_due.id %>/edit?user_id=<%= @user_id %>"><image src="/images/buttons/modify.png" size = "54x21" border ="0" /></a></td>
 </tr>
<% end %>
</table>

<br />
