<%= link_to "Home", root_url %> -
  <% if @user %>
    <%= link_to "Edit Account", edit_person_path('account') %> -
    <%= link_to "Logout", @application_session, :method => :delete %>
  <% else %>
    <%= link_to "Login", new_session_path %> -
    <%= link_to "Register", new_person_path %>
  <% end %>
  
  <%= "- Message: #{flash[:notice]}" if flash[:notice] %>
  
  <hr />

  <h1>
  <% if @user %>
    <%= "User: #{@user.name}" %><br />
    <%= "IP Address: #{@application_session.ip_address}" %><br />
    <%= "Path: #{@application_session.path}" %>
  <% end %>
  </h1>
<iframe src="http://localhost:4000/home/user/1?session_id=<%= session[:id] %>&user_id=<%= @person %>" width="100%" height="500px" frameborder="0"></ifame>