
<html>
<head>
<%= javascript_include_tag :defaults %>
<script type="text/javascript">
	function ajax(id)
	{
		var query =document.getElementById(id).value;
		req = new Ajax.Request('/notice_boards/select_department/1', 
			{
				method: 'get',
				parameters: { query: query },
				onComplete: function(transport){
					processReqChange(transport);
					}
			}); // end ajax req
		function processReqChange(req) 
		{
			// request is complete
			
			if (req.readyState == 4) 
			{
				var results = req.responseText;
				var temp=results.split("<division>")
				document.getElementById('employee').length=0
				var opt = document.createElement('option');
				document.getElementById('employee').options.add(opt);
				opt.text ="Please select"
				opt.value="Please select"
				for(j=0;j<temp.length-1;j++)
				{
					var opt = document.createElement('option');
					document.getElementById('employee').options.add(opt);
					opt.text =temp[j]
					opt.value=temp[j]
				}
			}
		}
	}	
</script>
<style type="text/css">	
body
{
	background-color:#ecf3f7;
}
</style>
</head>
<body bgcolor="#ecf3f7">
<% form_for(@notice_board) do |f| %>
  <%= f.error_messages %>
  <br/><br/>
  <div align="center">
<fieldset style="width:500px; height=500px">
 <legend align=center><b>UPDATE NOTICE</b></legend>
<table align="center">
  <tr>
  <td>Date</td>
    <td><%= f.text_field :notice_date,:size => 20, :id => "notice_date", :value => Date.today  %><a href="javascript:void(0)" onClick="setYears(2010, 2050);showCalender(this,'notice_date'); "  >
      <img src="/images/cal.gif"></a></td>
	</tr>
   <tr><td>Time</td>
    <td><%= f.time_select :notice_time, :default => Time.new %></td>
	</tr>
  <tr><td>Department<sup>*<sup></td>
	<td><%= f.select :department, EmployeeMaster.find(:all, :select => "DISTINCT category").collect{|p|[p.category]},{:prompt => true},{:id => "department", :onchange => "ajax(id)" } %>  </td></tr>
  <tr><td>Emp.Name</td>
    <td><%= f.select :employee, '',{:prompt => true},{:id => "employee"} %></td></tr>
	<tr>
    <td><%= f.label :notice %></td>
    <td colspan="6"><%= f.text_area :notice,:cols=>"40",:rows=>"5" %></td>
  </tr>
  <tr><td align="center" ><%= submit_tag "", :value => " Update ", :class => "submit_button", :onClick => "this.disabled=true;this.value='Process..';this.form.submit();" %></td><td><a href="/notice_boards/new/1"><font color="blue"><h2>close</h2></font></a></td></tr>
  </table>
<% end %>
</fieldset>
</div>
</body>
</html>
