<p>
  <b>Package master majestic:</b>
  <%=h @package_master_majestic_child.package_master_majestic %>
</p>

<p>
  <b>Ward name:</b>
  <%=h @package_master_majestic_child.ward_name %>
</p>

<p>
  <b>Charge:</b>
  <%=h @package_master_majestic_child.charge %>
</p>


<%= link_to 'Edit', edit_package_master_majestic_child_path(@package_master_majestic_child) %> |
<%= link_to 'Back', package_master_majestic_children_path %>