<h1>New purchase_order_return_child</h1>

<% form_for(@purchase_order_return_child) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :purchase_order_return_id %><br />
    <%= f.text_field :purchase_order_return_id %>
  </p>
  <p>
    <%= f.label :s_no %><br />
    <%= f.text_field :s_no %>
  </p>
  <p>
    <%= f.label :item_name %><br />
    <%= f.text_field :item_name %>
  </p>
  <p>
    <%= f.label :item_code %><br />
    <%= f.text_field :item_code %>
  </p>
  <p>
    <%= f.label :batch_no %><br />
    <%= f.text_field :batch_no %>
  </p>
  <p>
    <%= f.label :expiry_date %><br />
    <%= f.date_select :expiry_date %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :purchase_rate %><br />
    <%= f.text_field :purchase_rate %>
  </p>
  <p>
    <%= f.label :return_qty %><br />
    <%= f.text_field :return_qty %>
  </p>
  <p>
    <%= f.label :return_rate %><br />
    <%= f.text_field :return_rate %>
  </p>
  <p>
    <%= f.label :return_amt %><br />
    <%= f.text_field :return_amt %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', purchase_order_return_children_path %>