<p>
  <b>Purchase order return:</b>
  <%=h @purchase_order_return_child.purchase_order_return_id %>
</p>

<p>
  <b>S no:</b>
  <%=h @purchase_order_return_child.s_no %>
</p>

<p>
  <b>Item name:</b>
  <%=h @purchase_order_return_child.item_name %>
</p>

<p>
  <b>Item code:</b>
  <%=h @purchase_order_return_child.item_code %>
</p>

<p>
  <b>Batch no:</b>
  <%=h @purchase_order_return_child.batch_no %>
</p>

<p>
  <b>Expiry date:</b>
  <%=h @purchase_order_return_child.expiry_date %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @purchase_order_return_child.quantity %>
</p>

<p>
  <b>Purchase rate:</b>
  <%=h @purchase_order_return_child.purchase_rate %>
</p>

<p>
  <b>Return qty:</b>
  <%=h @purchase_order_return_child.return_qty %>
</p>

<p>
  <b>Return rate:</b>
  <%=h @purchase_order_return_child.return_rate %>
</p>

<p>
  <b>Return amt:</b>
  <%=h @purchase_order_return_child.return_amt %>
</p>


<%= link_to 'Edit', edit_purchase_order_return_child_path(@purchase_order_return_child) %> |
<%= link_to 'Back', purchase_order_return_children_path %>