<table id="tablesorter-demo" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
<thead>
  <tr>
	<th>S.No</th> 
    <th>Admn No</th>
    <th>MR No</th>
    <th>Patient type</th>
    <th>Treatment Date</th>
    <th>Consultant Id</th>  
   <th colspan="3">Permissions</th>
  </tr>
  <br />
</thead>
<tbody>
<% @i=0 %>
<% @treatment_plans.each do |treatment_plan| %>
<% if((@i % 2)==0) 
		id="datacellone"
	else
		id="datacelltwo"
	end %>
  <tr class='<%= id %>'>
	<td><%= @i+=1 %></td>
    <td><%=h treatment_plan.admn_no %></td>
    <td><%=h treatment_plan.mr_no %></td>
    <td><%=h treatment_plan.patient_type %></td>
    <td><%=h treatment_plan.treatment_date %></td>
    <td><%=h treatment_plan.consultant_id %></td>
	<td align="center"><%= link_to image_tag("buttons/display1.png", :class => "info", :border =>"0"), treatment_plan %></td>
	<td align="center"><%= link_to image_tag("buttons/modify.png", :class => "info", :border =>"0"), edit_treatment_plan_path(treatment_plan) %></td>
  </tr>
<% end %>
</table>