<h1>Editing number</h1>

<% form_for(@number) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :org_location %><br />
    <%= f.text_field :org_location %>
  </p>
  <p>
    <%= f.label :org_code %><br />
    <%= f.text_field :org_code %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @number %> |
<%= link_to 'Back', numbers_path %>