<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">Pharmacy Masters >>&nbsp;&nbsp;&nbsp;<a HREF='/itemmasters?user_id=<%= @person.id %>' class="nav" style="text-decoration:none;">Item Masters</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<center><h3><font color="#015a84">Manufacturer Master</font></h3>
<%= link_to 'New', new_itemmaster_path, :class=>"new1" %>
</center> 
<script type="application/javascript">
	var product_name
  	function date_range(event)
	{
	 
		if(event.keyCode==13)
		{
			product_name=document.getElementById('search_field').value
			req = new Ajax.Request('/itemmasters/search/1', {
				method: 'get',
				parameters: {product_name: product_name },
				onComplete: function(transport) {
				processReqChange(transport);
				}
			});
			function processReqChange(req) 
			{
				document.getElementById("tablesorter-demo").innerHTML=req.responseText
			}
		}
	}


	function click_search()
	{
	 
		product_name=document.getElementById('search_field').value
		req = new Ajax.Request('/itemmasters/search/1', {
			method: 'get',
			parameters: {product_name: product_name },
			onComplete: function(transport) {
			processReqChange(transport);
			}
		});
		function processReqChange(req) 
		{
			document.getElementById("tablesorter-demo").innerHTML=req.responseText
		}
	}

	function clear_file(id)
	{
		document.getElementById(id).value=""
		document.getElementById(id).style.color="black"
	}

 </script>
<table align ="right">
  <tr>
	<td><%= text_field_tag :search, params[:search], :id => 'search_field', :Placeholder => "Select Product Name", :onKeyUp =>"date_range(event)" %></td>
    <td><a href='javascript:void(0)' onclick = "click_search()" ><img src="/images/buttons/search.png" class="info"/> </a></td>
    </td>
  </tr>
</table>
<table id="tablesorter-demo" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
<thead>
<tr>
	<th>S.NO</th>
    <th>Org code</th>
    <th>Org location</th>
    <th>Product Name</th>
    <th>Manufacturer</th>
    <th colspan="2" align="center">Permissions</th>
 </tr>
</thead>
<tbody>
 <% @i=0 %>
<% @itemmasters.each do |itemmaster| %>
<% if((@i%2)==0) 
		id="datacelltwo"
	else
		id="datacellone"
	end %>
  <tr class='<%= id %>' style="height:30px">
	<td><%= @i+=1 %></td>
    <td><%=h itemmaster.org_code %></td>
    <td><%=h itemmaster.org_location %></td>
    <td><%=h itemmaster.product_name %></td>
    <td><%=h itemmaster.manufacturer %></td>

	<td align="center"><%= link_to '&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;', edit_itemmaster_path(itemmaster), :class=>"submit_button" %></td> 
    <td align="center"><%= link_to '&nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;', itemmaster, :class=>"submit_button", :confirm => 'Are you sure?', :method => :delete  %></td>	
	
  </tr>
<% end %>
</tbody>
</table>
<p align="right"><div align="right" class="pagination"><%= will_paginate @registration,  :style => "font: bold 15px Arial red;" %></p>
