<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">Employee Masters >>&nbsp;&nbsp;&nbsp;<a HREF='/refferal_masters' class="nav" style="text-decoration:none;">Referral Master</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<center><h3><font color="#015a84">Referral Master</font></h3>
 <%= link_to 'New', new_refferal_master_path, :class=>"new1" %>
</center>

<script type="application/javascript">
var name
  	function date_range(event)
	{
	 
		if(event.keyCode==13)
		{
			name=document.getElementById('search_field').value
			req = new Ajax.Request('/refferal_masters/search/1', {
				method: 'get',
				parameters: {name: name },
				onComplete: function(transport) {
				processReqChange(transport);
				}
			});
			function processReqChange(req) 
			{
				document.getElementById("tablesorter-demo").innerHTML=req.responseText
			}
		}
	}


	function click_search()
	{
		name=document.getElementById('search_field').value
		req = new Ajax.Request('/refferal_masters/search/1', {
			method: 'get',
			parameters: {name: name},
			onComplete: function(transport) {
			processReqChange(transport);
			}
		});
		function processReqChange(req) 
		{
			document.getElementById("tablesorter-demo").innerHTML=req.responseText
		}
	}
  

 </script>
<table align ="right">
  <tr>
	<td><%= text_field_tag :search, params[:search], :id => 'search_field', :Placeholder => "Enter Referral Name", :onKeyUp =>"date_range(event)" %></td>
    <td><a href='javascript:void(0)'  onclick = "click_search()" ><img src="/images/buttons/search.png" class="info"/> </a></td>
    </td>
  </tr>
</table>
<table id="tablesorter-demo" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
<thead>
   <tr>
	 <th>S.No</th> 
	 <th>Org.Code</th>
    <th>Org.Location</th>
    <th>Refferal Name</th>
    <th>Email</th>
    <th>Ph.No</th>
  <th colspan="2">Permissions</th>
  </tr>
</thead>
<tbody>
<% @i=0 %>
<% @refferal_masters.each do |refferal_master| %>
 <% if((refferal_master.id % 2)==0) 
		id="datacellone"
	else
		id="datacelltwo"
		 end %>
  <tr class='<%= id %>' style="height:30px">
	<td style="background-color: #FFF;"><%= @i+=1 %></td>
	  <td><%=h refferal_master.org_code %></td>
    <td><%=h refferal_master.org_location %></td>
    <td><%=h refferal_master.refferal_name %></td>
    <td><%=h refferal_master.email %></td>
    <td><%=h refferal_master.ph_no %></td>

	<td align="center"  class="submit_button"><%= link_to 'Edit', edit_refferal_master_path(refferal_master) %></td>   
	<td align="center"  class="submit_button"><%= link_to 'Delete', refferal_master, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<p align="right"><div align="right" class="pagination"><%= will_paginate @refferal_masters,  :style => "font: bold 15px Arial red;" %></p>
