
  <%= stylesheet_link_tag 'css' %>
  <%= stylesheet_link_tag 'table_style' %>
<table align="center">
	<tr>
		<td>Agency Name : <%= @goods.vendor_code %></td>
		<td>Invoice No : <%= @goods.invoice_number %></td>
	</tr>
</table>

<table class="tablesorter" border="0" cellpadding="0" cellspacing="1" >
<thead>
  <tr class="info">
    <th>S.No</th>
	<th>Item Name</th>
    <th>Batch No</th>
    <th>Exp.Date</th>
    <th>Quantity</th>
    <th>Free</th>
    <th>Pur.Rate</th>
    
    <th>Sale Rate</th>
    
    <th>Total Amt.</th>
	<th>Edit</th>
  </tr>
</thead>
<tbody>
<% @i=0 %>
<% @store_child.each do |store_child| %>
 <% if((@i % 2)==0) 
		id="datacellone"
	else
		id="datacelltwo"
end %>
 <tr class='<%= id %>' style="height:30px">
	<td><%= @i+=1 %></td>
    <td><%=h store_child.item_name %></td>
   
    <td><%=h store_child.batch_no %></td>
	<% if(store_child.expiry_date) %>
		<td><%=h store_child.expiry_date.strftime("%m/%y") %></td>
	<% else %>
		<td><%=h store_child.expiry_date %></td>
	<% end %>
    <td><%=h store_child.sheets %></td>
	<td><%=h store_child.free %></td>
    <td><%=h number_with_precision(store_child.purchase_rate, :precision => 2, :separator => '.') %></td>
	<td><%=h number_with_precision(store_child.mrp, :precision => 2, :separator => '.') %></td>
    <td><%=h number_with_precision(store_child.amount, :precision => 2, :separator => '.') %></td>
	<td  align="center" class="submit_button"><a href="/store_children/<%= store_child.id %>/edit?goods_id=<%= @goods.id%>">Edit</a></td>
</tr>
<% end %>
</table>
