<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">Payments>>&nbsp;&nbsp;&nbsp;<a HREF='/final_bills' class="nav" style="text-decoration:none;">Final Bill</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div>
<% if @final_bill %>
<% @reg = Registration.find_by_org_code_and_mr_no(@final_bill.org_code, @final_bill.mr_no)
	@adm = Admission.find_by_org_code_and_mr_no(@final_bill.org_code, @final_bill.mr_no) 
 %>
<% form_for(@final_bill) do |f| %>
  <%= f.error_messages %>

<table width="100%" bgcolor="#87CEEB">

  <tr><td colspan="8"><fieldset><legend><div class="font"><b><%=h @final_bill.admn_no %>  Details</b></div></legend>
   <%= f.hidden_field :id, :id => "record_id" %>

	 <table width="100%">
  <tr>
    <td>Admn.No</td>
    <td><%= f.text_field :admn_no,:id => "admn_no", :size =>20, :readonly =>true %></td>
    <td>MR No</td>
    <td><%= f.text_field :mr_no,:size =>20, :id=>"mr_no", :readonly =>true %></td>
    <td>Date</td>
    <td><%= f.text_field :final_bill_date,:size =>20, :readonly =>true %></td>
	<td>Receipt No</td>
    <td><%= f.text_field :receipt_no,:size =>20,:id=>"receipt_no", :readonly =>true %></td>
  </tr>
  <tr>
	<td>Org.Code</td>

		<td><%= f.text_field :org_code, :value => @org_code, :size => 20, :id => "org_code", :readonly => true, :readonly =>true%></td>
	
    <td>Org.Location</td>
    <td><%= f.text_field :org_location, :value => @org_location, :size => 20, :id => "org_location", :readonly => true , :readonly =>true%></td>
    <td>First Name</td>
		<td><%= text_field_tag:first_name,'', :value=>@reg.patient_name, :readonly =>true %></td>
		
  </tr>
  <tr>
	<td>Floor</td>
	<td><%= text_field_tag :floor,'',:value=> @adm.floor, :readonly => true, :size=>20  %> </td>
	<td>Ward </td>
	<td><%= text_field_tag :ward,'', :value=>@adm.ward , :readonly => true, :size=>20 %></td>
	<td>Room </td>
	<td><%= text_field_tag :room,'', :value=>@adm.room, :readonly => true, :size=>20   %></td>
	<td>Bed</td>
	<td><%= text_field_tag :bed,'',:value=> @adm.bed, :readonly => true, :size=>20  %></td>
			
  
  </tr>
  <tr>
    <td>Gross Amount</td>
    <td><%= f.text_field :gross_amount,:size =>20,:id=>"gross_amount", :readonly =>true %></td>
    <td>Advance</td>
    <td><%= f.text_field :advance ,:size =>20,:id=>"advance", :readonly =>true%></td>
    <td><%= f.label :due %></td>
    <td><%= f.text_field :due,:size =>20,:id=>"due" , :readonly =>true%></td>
  </tr>
  <tr>
    <td>Concession Authority</td>
    <td><%= f.text_field :concession_authority, :id => "concession_authority", :readonly =>true,:size=>"20" %>

	
    <td><%= f.label :concession %>(%)</td>
    <td><%= f.text_field :concession,:size =>20, :id=>"concession", :readonly =>true %>
	</td>																						
    <td>Amount<br/>(After Concession)</td>
    <td><%= f.text_field :remaining_amount,:size =>20, :id=>"remaining_amount", :readOnly => true %></td>
    <td>Paid Amount<sup>*</sup></td>
    <td><%= f.text_field :paid_amount,:size =>20,:id=>"paid_amount", :readonly =>true%></td>
  </tr>
  <tr>
	<td>Balance Amount</td>
    <td><%= f.text_field :balance_amount,:size =>20,:id=>"balance_amount", :readonly =>true %></td>
  </tr>
  <tr>
    <td>Payment Mode</td>
	<td colspan="2"><%= f.radio_button :payment_mode, "cash", :id => "button11" %>Cash
		<%= f.radio_button :payment_mode, "cheque", :id => "button12" %>Cheque
		<%= f.radio_button :payment_mode, "card", :id => "button13" %>Card
              <%= f.radio_button :payment_mode, "both", :id => "button14" %>Both</td>
  </tr>
  <tr>
    <td>Bank Name</td>
    <td><%= f.text_field :bank_name,:id => "bank_name", :size =>20, :readonly =>true%></td>
	<td>Cheque No</td>
    <td><%= f.text_field :cheque_no,:id => "cheque_no",:size =>20, :readonly =>true %></td>
    <td>Acc.No</td>
    <td><%= f.text_field :acc_no,:id => "acc_no",:size =>20, :readonly =>true %></td>
	<td>Cheque Amount</td>
    <td><%= f.text_field :cheque_amount,:id => "cheque_amount",:size =>20, :readonly =>true %></td>
  </tr>
  <tr>
    <td>Card No</td>
    <td><%= f.text_field :card_no,:id => "card_no",:size =>20, :readonly =>true %></td>
    <td>Card Type</td>
    <td><%= f.text_field :card_type, :readonly =>true, :id => "card_type" ,:size =>20%> </td> 
    <td><%= f.label :expiry_date %></td>
    <td><%= f.text_field :expiry_date, :readonly =>true,:size =>20 %>  </td>
    <td>Card Amount</td>
    <td><%= f.text_field :card_amount,:id => "card_amount",:size =>20, :readonly =>true%></td>
	</tr></table></fieldset></td>
  </tr>
 
 </table>
<% end %>
</div>


</body>

<% end%>
<br/>
<center><%= link_to "Back",  final_bills_path, :class=>"new1" %></center>
