<% form_for(@ward_master) do |f| %>
 <div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">General Masters >>&nbsp;&nbsp;&nbsp;<a HREF='/ward_masters?user_id=<%= @person.id %>' class="nav" style="text-decoration:none;">Ward Masters</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<div  width="100%">
<fieldset>
<legend><div class="font"><b>Ward Information</b></div></legend>
<table align="center" width="100%">
<tr>
	<td>Org.Code</td>
	<td><%= f.text_field :org_code, :class => "text_field", :id => "org_code" %></td>
	<td>Org.location</td>
    <td><%= f.text_field :org_location, :class => "text_field", :id => "org_location" %>
	<td>Name<sup>*</sup></td>
	<td><%= f.text_field :name, :class =>"text_field" %>  </td>
	<td>No.Of Rooms<sup>*</sup></td>
	<td><%= f.text_field :no_of_rooms, :class =>"text_field" %></td>  	
</tr>
<tr>
	<td>Room Charge</td>
	<td><%= f.text_field :cost, :class =>"text_field" %> </td>
	<td>Nurse Charge</td>
	<td><%= f.text_field :nurse_chage, :class =>"text_field" %> </td>
</tr>
</table>
</fieldset>
<div>
<table align="center">
			<tr>
					<td><%= submit_tag "", :value => " Update ", :class => "submit_button" %></td>
				<td valign="middle"><%= link_to "Back",  ward_masters_path, :class=>"new1" %></td>
			</tr>
		</table>
</table>
</div>
<% end %>

