<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">General Masters >>&nbsp;&nbsp;&nbsp;<a HREF='/ward_masters?user_id=<%= @person.id %>' class="nav" style="text-decoration:none;">Ward Masters</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<% id="datacellone" %>
<% id1="datacelltwo" %>
<div  width="100%">
 <table align="center" width="50%" border="0" cellspacing="2" cellpadding="4">
		<tr>
			<td class="button" colspan="9"><center><h3><b>Details of Ward</b></h3></center></td> 
			
		</tr>
		<tr>
			<td class='<%= id %>'><b>Org code</td>
			<td class='<%= id %>'>:</td>
			<td class='<%= id1 %>'><%=h @ward_master.org_code %></td>
			<td class='<%= id %>'><b>Org location</b></td>
			<td class='<%= id %>'>:</td>
			<td  class='<%= id1 %>'><%=h @ward_master.org_location %></td>
	</tr>
	<tr>
			<td class='<%= id %>'><b>Name</b>
			</td> <td class='<%= id %>'>:</td>  
			<td class='<%= id1 %>'><%=h @ward_master.name %> </td> 
			<td class='<%= id %>'><b>Room Charge</b></td> 
			<td class='<%= id %>'>:</td>  
			<td class='<%= id1 %>'><%=h @ward_master.cost %></td> 
		</tr>

 </table>
 
 </div>
<br/><center>
<td valign="middle"><%= link_to "back",  ward_masters_path, :class=>"new1" %></td> 
