<%= stylesheet_link_tag 'css' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'calendar.js' %>

<script type="text/javascript">
var vendorcode;
var org_code;
var appt_date1;
var appt_date2;

function clear_function()
 {
  
  document.getElementById('consultant').value=""
  document.getElementById('appt_date1').value=""
  document.getElementById('appt_date2').value=""
  }

	function date_range()
		{
			vendorcode= document.getElementById('consultant').value
	
			appt_date1=document.getElementById('appt_date1').value
			appt_date2=document.getElementById('appt_date2').value
			ajax()
 		}
 function ajax()
	{
	req = new Ajax.Request('/goodsrecieptnotemasters/goodreceptionmaster/1', {
			method: 'get',
			parameters: { org_code: org_code, vendorcode: vendorcode,appt_date1:appt_date1, appt_date2:appt_date2},
			onComplete: function(transport) {
			processReqChange(transport);
			}
		}); 
		function processReqChange(req) 
		{

			if(req.responseText=="No Records")
				document.getElementById("table").value=req.responseText
			else

				document.getElementById("table").innerHTML=req.responseText
			
		}
	}
	
function select_org_code(id)
	{
		
		req = new Ajax.Request('/goodsrecieptnotemasters/select_org_code/1', {
			method: 'get',
			parameters: {org_code:org_code},
			onComplete: function(transport) {
			processReqChange(transport);
			}
		}); 
		function processReqChange(req) 
		{
			if (req.readyState == 4) 
				{
					var results = req.responseText;
					var temp=new Array()
					temp=results.split("<code>")
					document.getElementById("consultant").length=0
						var opt = document.createElement("option");
						document.getElementById("consultant").options.add(opt);
						opt.text = "All"
						opt.value = ""
					for(i=0;i<temp.length-1;i++)
					{
						var opt = document.createElement("option");
						document.getElementById("consultant").options.add(opt);
						opt.text = temp[i]
						opt.value = temp[i]
					}
				}
		}
	}
</script> 

<body style="margin:0px;" onload="/goodsrecieptnotemasters/goodreceptionist_report/1">

<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">&nbsp;&nbsp;Report >>&nbsp;&nbsp;&nbsp;Pharmacy Reports >>&nbsp;&nbsp;&nbsp;<a HREF='javascript:void(0);' class="nav" style="text-decoration:none;">Goods Reciept</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>

<div id="form_data">
<%= form_tag ({:controller => "goodsrecieptnotemasters", :action => "export_to_csv"}, {:method => "post"}) %>
<fieldset><legend>Goods Reports Details</legend>
<% @date=Date.today("%Y-%m-%d") %>
<table align="center" width="100%">
<tr>
<td>

	
	<label for="item_name">From Date</label></td>
	<td><input type=text id="appt_date1" name="appt_date1" value="gggggggg"><a href="javascript:void(0)" onClick="setYears(2000, 2050);showCalender(this,'appt_date1');" >
     		<img src="/images/cal.gif" ></a></td>
	<td><label for="item_name">To Date</label></td>
	<td><input type=text id="appt_date2" value=<%= @date %>><a href="javascript:void(0)" onClick="setYears(2000, 2050);showCalender(this,'appt_date2');" >
    		<img src="/images/cal.gif" ></a></td>
	<td>Vendor code:</td>
	<td><%= select("consultant", "c",Goodsrecieptnotemaster.find(:all, :select =>"DISTINCT agency_name", :conditions=>"org_code='#{@org_code}' ").collect{|p|[p.agency_name]},{:prompt =>'All'}, {:id => "consultant"}) %></td>
	
<td class="button"><a href="javascript:void(0)" onclick = "date_range()" class="submit_button">Search</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "&nbsp;&nbsp;Clear&nbsp;&nbsp;", "javascript: clear_function()",:class=>"submit_button" %></td>
</tr>
</table>
</fieldset>
<div id="table" align="center">

</div>
</body>
<table id="calenderTable">
        <tbody id="calenderTableHead">
          <tr>
            <td colspan="4" align="center">
	          <select onChange="showCalenderBody(createCalender(document.getElementById('selectYear').value,
	           this.selectedIndex, false));" id="selectMonth">
	              <option value="0">Jan</option>
	              <option value="1">Feb</option>
	              <option value="2">Mar</option>
	              <option value="3">Apr</option>
	              <option value="4">May</option>
	              <option value="5">Jun</option>
	              <option value="6">Jul</option>
	              <option value="7">Aug</option>
	              <option value="8">Sep</option>
	              <option value="9">Oct</option>
	              <option value="10">Nov</option>
	              <option value="11">Dec</option>
	          </select>
            </td>
            <td colspan="2" align="center">
			    <select onChange="showCalenderBody(createCalender(this.value, 
				document.getElementById('selectMonth').selectedIndex, false));" id="selectYear">
				</select>
			</td>
         
		  </tr>
       </tbody>
       <tbody id="calenderTableDays">
         <tr style="">
           <td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td>
         </tr>
       </tbody>
       <tbody id="calender"></tbody>
    </table>

</div>

