<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">Pharmacy >>&nbsp;&nbsp;&nbsp;<a HREF='/goodsrecieptnotemasters' class="nav" style="text-decoration:none;">Goods Reciepts</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div>
<div id="form_data">
<%= stylesheet_link_tag 'jquery-ui' %>
<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'jquery-ui.min.js' %>  
  
  <script>
  $(document).ready(function() {
    $("input#itmem_name_ind").autocomplete({
    source: [
			<% for item_masters in @item_masters %>
				'<%= item_masters.product_name %>',
			<% end %>
			]
	});
  });
  </script>
  <script language="javascript" type="text/javascript">
	function stopRKey(evt) {
		
		var evt  = (evt) ? evt : ((event) ? event : null);
		var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
		if ((evt.keyCode == 13) && (node.type=="text")) { return false; }
	}
	document.onkeypress = stopRKey;
</script>
<script type="text/javascript">

	var selectedid;
	var query;
	var query1;
	var org_code
	
	function ajaxSearch(id) 
	{
		if(id=="note_amt")
		{
				var net = parseFloat(document.getElementById('net_invoice_amount').value);
				var note =  parseFloat(document.getElementById('note_amt').value);
				var gross=net-note
				document.getElementById('goods_amt').value=gross
		}
		org_code=document.getElementById('org_code').value
		var selObj = document.getElementById(id);
		query = selObj.options[selObj.selectedIndex].value
		selectedid=id;

		if(query!="")
		{
			if(id=="itemname")
			{
				var selObj1 = document.getElementById('po_number');
				query1 = selObj1.options[selObj1.selectedIndex].value
			}
			else
			{
				var selObj1 = document.getElementById('return_no');
				query1 = selObj1.options[selObj1.selectedIndex].value
			selectedid=id;

			}
			ajax()
		}
	
	}
	
	function medicine_search_ind(id,event)
	{
		if(event.keyCode!=13)
			return false;
		query = document.getElementById(id).value;
		if(query!="")
		{
			selectedid=id;
			document.getElementById(id).value="";
			ajax()
		}
	}
	function ajax()
	{
		req = new Ajax.Request('/goodsrecieptnotemasters/ajax_buildings/1', 
			{
				method: 'get',
				parameters: { q: query , type :selectedid, q2 :query1, org_code: org_code},
				onComplete: function(transport){
					processReqChange(transport);
					}
			}); // end ajax req
		function processReqChange(req) 
		{
			// request is complete
			
			if (req.readyState == 4) 
			{
				var results = req.responseText;
				var temp_split = new Array
			    var temp=new Array
			    if(selectedid=="po_number")
				{
					temp=results.split(",")
					var temp1=new Array()
					var temp1=temp[0].split("<division>")
					document.getElementById('po_date').value=temp[1]
					document.getElementById('vendor_code').value=temp[2]
					document.getElementById('agency_dl_no').value=temp[3]
					document.getElementById('agency_tin_no').value=temp[4]
					
					for(i1=0;i1<temp1.length-1;i1++)
					{
						temp_medicine=temp1[i1].split("<code>");
						var store=new Array();
						var add_amount_fields="total_amount,net_invoice_amount"
						store[0]=temp_medicine[0]
						store[1]=temp_medicine[1]
						store[2]=temp_medicine[2]
						store[5]=temp_medicine[4]
					
						if(temp_medicine[5]!="" && temp_medicine[6]!="")
						{
							store[7]=parseFloat(temp_medicine[5]).toFixed(2);
							store[8]=parseFloat(temp_medicine[6]).toFixed(2);
						}
						else
						{
							store[7]="0";
							store[8]="0";
						}
						
						store[10]=temp_medicine[3]
						
						add_row('r',13,'displayTable',store,add_amount_fields,0)
						
					}	
				}
				else if(selectedid=="stackpointcode")
				{
					document.getElementById('satckpointname').value=results
				}
				else if(selectedid=="return_no")
				{
					document.getElementById('ret_amt').value=results
				}
				else
				{
					if(results=="Invalid item")
						alert("Item not available")
					else
					{
						temp_medicine=results.split("<code>");
						var store=new Array();
						var add_amount_fields="total_amount,net_invoice_amount"
						store[0]=temp_medicine[0]
						store[1]=temp_medicine[1]
						store[2]=temp_medicine[8]
						store[5]=temp_medicine[4]
						store[8]=temp_medicine[6]
						store[7]=temp_medicine[5]
						store[10]=temp_medicine[3]
						store[13]=document.getElementById("org_code").value
						store[14]=document.getElementById("satckpointname").value
						add_row('r',14,'displayTable',store,add_amount_fields,9)
					}	
				}
			} 
		}
	}
	function select_discount(id)
	{
		total_amount=parseFloat(document.getElementById('total_amount').value)
		discount=parseFloat(document.getElementById(id).value)
		discount_amont=(total_amount*(discount/100))
		document.getElementById('discount_amont').value=discount_amont.toFixed(2)
		document.getElementById('net_invoice_amount').value=(total_amount-discount_amont).toFixed(2)
		document.getElementById('goods_amt').value=document.getElementById("net_invoice_amount").value
	}
	
</script>

<script type="text/javascript">
  
	function select_amount(s_no1)
	{
		var amount=0
		var discount=0
		var mrp_rate=0
		var vat_per=0	
		document.getElementById("fourt_value").value=0
		document.getElementById("fourt_vat").value=0
		document.getElementById("total_vat").value=0
		document.getElementById("five_value").value=0
		document.getElementById("five_vat").value=0		
		for(i=0;i<=parseInt(s_no1);i++)
		{
			if(parseFloat(document.getElementById("r"+i+"c12").value)==5)
			{
				
				document.getElementById("five_value").value=(parseFloat(document.getElementById("five_value").value)+(parseFloat(document.getElementById("r"+i+"c11").value))).toFixed(2)
				document.getElementById("five_vat").value=(parseFloat(document.getElementById("five_vat").value)+(parseFloat(document.getElementById("r"+i+"c11").value)*parseFloat(document.getElementById("r"+i+"c12").value)/100)).toFixed(2)
				document.getElementById("total_vat").value=(parseFloat(document.getElementById("five_vat").value)+parseFloat(document.getElementById("fourt_vat").value)).toFixed(2)
			}			
			else if(parseFloat(document.getElementById("r"+i+"c12").value)==14.5)
			{
				document.getElementById("fourt_value").value=(parseFloat(document.getElementById("fourt_value").value)+(parseFloat(document.getElementById("r"+i+"c11").value))).toFixed(2)
				document.getElementById("fourt_vat").value=(parseFloat(document.getElementById("fourt_vat").value)+(parseFloat(document.getElementById("r"+i+"c11").value)*parseFloat(document.getElementById("r"+i+"c12").value)/100)).toFixed(2)
				document.getElementById("total_vat").value=(parseFloat(document.getElementById("five_vat").value)+parseFloat(document.getElementById("fourt_vat").value)).toFixed(2)
			}
		}
		document.getElementById("sub_total").value=(parseFloat(document.getElementById("five_value").value)+parseFloat(document.getElementById("fourt_value").value)).toFixed(2)
		document.getElementById("net_invoice_amount").value=(parseFloat(document.getElementById("sub_total").value)+parseFloat(document.getElementById("total_vat").value)).toFixed(2)
		document.getElementById("total_amount").value=(parseFloat(document.getElementById("sub_total").value)+parseFloat(document.getElementById("total_vat").value)).toFixed(2)
		document.getElementById('goods_amt').value=document.getElementById("total_amount").value
	}


	function cal_amount_with_vat(id,id_value)
	{
	
		if(document.getElementById(id).value!="" && document.getElementById(id).value)
		{
			var pur_rate=parseFloat(document.getElementById(id).value)
			var quantity=parseInt(document.getElementById("r"+id_value+"c5").value)
			if(document.getElementById("r"+id_value+"c5").value!="" && document.getElementById("r"+id_value+"c5").value && document.getElementById("r"+id_value+"c12").value!="" && document.getElementById("r"+id_value+"c12").value)
				document.getElementById("r"+id_value+"c11").value=(pur_rate*quantity).toFixed(2);
			else
			{
				alert("please enter quantity");
				document.getElementById("r"+id_value+"c5").focus();
			}
			select_amount(id_value)
		}
	}
	
	
	function change_date_format(id)
	{
		if(document.getElementById(id).value!="" && document.getElementById(id).value)
		{
			var date_temp=document.getElementById(id).value.split("/");
			if(date_temp[1].length==2)
				var year=2000+parseInt(date_temp[1])
			else
				var year=date_temp[1]
			document.getElementById(id+"c13").value=year+"-"+date_temp[0]+"-01";
		}
	}
	
	function cal_quantity(id)
	{
		alert(document.getElementById('r'+id+'c19').value);
		if(document.getElementById('r'+id+'c6').value!="" && document.getElementById('r'+id+'c6').value)
			document.getElementById('r'+id+'c18').value=parseInt(document.getElementById('r'+id+'c6').value)*parseInt(document.getElementById('r'+id+'c19').value);
		else
			document.getElementById('r'+id+'c18').value=0
	}
	
	function cal_total_amount_with_vat(id,id_value)
	{
		if(document.getElementById("r"+id_value+"c5").value=="")
			document.getElementById("r"+id_value+"c11").value=0
		cal_amount_with_vat(id,id_value)
	}
</script>
<% form_for(@goodsrecieptnotemaster) do |f| %>
<%= f.error_messages %>
<%= hidden_field :user_id, :value => @person.id %>
<% @date=format_date(:sort, Date.today ) %>
<div align="center">
	<fieldset><legend><div class="font"><b>Goods Receipt Details</b></div></legend>
	<table   width="100%" >
	<tr>	
		<%= f.hidden_field :org_code, :value => @org_code, :size => 20, :id => "org_code", :readonly => true %>
		<%= f.hidden_field :org_location, :value => @org_location, :size => 20, :id => "org_location", :readonly => true %>
		<td>PO.No<sup>*</sup></td>
        <td><%= f.select :po_number,Purchaseordermaster.find(:all, :conditions => "status ='in-order' and org_code='#{@org_code}' " ).collect {|p| [ p.po_number]}, {:prompt => true},{:id => "po_number",:onchange => "ajaxSearch(id)"} %></td>
        <td>PO.Date</td>
        <td><%= f.text_field :po_date, :id => "po_date", :size =>"20",:readOnly => true %></td>
        <td>Agency Name</td>
        <td><%= f.text_field :agency_name, :id => "vendor_code", :size =>20,:readOnly => true %></td>
		<td>Agency DL No</td>
        <td><%= f.text_field :agency_dl_no, :id => "agency_dl_no", :size =>20,:readOnly => true %></td>
    </tr>
    <tr>
		<td>Agency TIN No</td>
        <td><%= f.text_field :agency_tin_no, :id => "agency_tin_no", :size =>20,:readOnly => true %></td>
		<td>Invoice No<sup>*</sup></td>
        <td><%= f.text_field :invoice_number,:size =>"20" %></td>
        <td>Invoice Dt<sup>*</sup></td>
     	<td><%= f.text_field :invoice_date, :size => "15", :id => "dob" %>
			<a href="javascript:void(0)" onClick="setYears(2000, 2050);showCalender(this,'dob'); "  >
			<img src="/images/cal.gif" ></a></td>
	    <%= f.hidden_field :status, :value=>"Received" %>
</table>
<table> 
         <tr>            
	 <td>Product Name</td>
             <td><%= f.text_field :item_name, :id => "itmem_name_ind", :onKeyUp => "medicine_search_ind(id,event)", :style=>"width:850px;" %> </td>
		</tr>
	</table>
	</fieldset>

	</tr>
	</table>
	
	  	
<table width="100%">
  <tr>
	<td colspan="14">
	<div id="info">
    <table class="tableone">
   <caption style="background: url(/images/vertical1_04.jpg) repeat-x top left;text-align:center;" ><font color="#F0FFFF" face="Cambria" ><b>Purchase Invoice</b></font></caption>
     <thead>
         <tr>
			<th width="50px" style="color:black;">S.No</th>
			<th width="125px" style="color:black;">Product Name</th>
		    <th width="100px" style="color:black;">Drug Type</th>
			<th width="100px" style="color:black;">Req.Qty</th>
			<th width="100px" style="color:black;">Rec.Qty</th>
			<th width="100px" style="color:black;">Free</th>
			<th width="100px" style="color:black;">Packing</th>
			<th width="100px" style="color:black;">Batch No</th>
			<th width="100px" style="color:black;">Exp.Dt</th>
			<th width="100px" style="color:black;">MRP</th>
			<th width="100px" style="color:black;">Pur.Rate</th>
			<th width="100px" style="color:black;">Amt</th>
			<th width="100px" style="color:black;">Vat(%)</th>
			<th width="48px" style="color:black;">Del</th>
		</tr>
    </thead>
     <tbody>
		<tr><td colspan="14">
			<div class="innerb">
			<table class="tabletwo" id="displayTable">
			<% i=0 %>
			<% f.fields_for :store_child do |a| %>
				<% if (i%2==0) %>
					<tr>
				<% else%>
					<tr class="dk">
				<% end %>	

					<td width="50px"><%= text_field_tag('s_no','', :style=>"width:100%", :id => "r#{i}c1", :class => "nbb") %></td> 
					<td width="125px"><%= a.text_field :item_name, :style=>"width:100%", :id => "r#{i}c2", :class => "nbb",:readOnly => true %></td> 
					<td width="100px"><%= a.text_field :drug_type, :style=>"width:100%", :id => "r#{i}c3", :class => "nbb",:readOnly => true %></td> 
					<td width="100px"><%= text_field_tag('requisation_qty','', :style=>"width:100%", :id => "r#{i}c4", :class => "nbb",:readOnly => true) %></td> 
					<td width="100px"><%= a.text_field :sheets, :style=>"width:100%", :id => "r#{i}c5", :class => "nbb", :onKeyUp=>"cal_total_amount_with_vat(id,'#{i}')" %></td> 
					<td width="100px"><%= a.text_field :free, :style=>"width:100%", :id => "r#{i}c6", :class => "nbb" %></td> 
					<td width="100px"><%= a.text_field :packing, :style=>"width:100%", :id => "r#{i}c7", :class => "nbb",:readOnly => true %></td> 
					<td width="100px"><%= a.text_field :batch_no, :style=>"width:100%", :id => "r#{i}c8", :class => "nbb" %></td> 
					<td width="100px"><%= text_field_tag('expiry_date_test', '',:style=>"width:100%", :id => "r#{i}", :class => "nbb", :onFocusOut=>"change_date_format(id)", :placeholder => "mm/yyyy") %></td> 
					<%= a.hidden_field :expiry_date, :style=>"width:100%", :id => "r#{i}c13", :class => "nbb"%>
					<td width="100px"><%= a.text_field :mrp, :style=>"width:100%", :id => "r#{i}c9", :class => "nbb" %></td> 
					<td width="100px"><%= a.text_field :purchase_rate, :style=>"width:100%", :id => "r#{i}c10", :class => "nbb", :onkeyup=>"cal_amount_with_vat(id,'#{i}')" %></td> 
					<td width="100px"><%= a.text_field :amount, :style=>"width:100%", :id => "r#{i}c11", :class => "nbb",:readOnly => true %></td> 
					<td width="100px"><%= a.text_field :vat, :style=>"width:100%", :id => "r#{i}c12", :class => "nbb",:readOnly => true %></td> 
					
				<td width="40px" id="r<%= i %>c15"></td>			
	</tr>
				<% i+=1 %>
				
				
				
			<% end %>
			</table>
			</div>
		</td>
		</tr>
	</tbody>
     </table>
   </div>
	</td>
  </tr>
 </table>
 

 
 </fieldset>

	<table width="100%">
	<tr>
			 <td>5% Value </td> 
             <td><%= f.text_field :five_value, :size =>"20", :value=>0, :id => "five_value", :readOnly => true %>
             <td>5% Vat</td>
             <td><%= f.text_field :five_vat,:size =>"20", :value=>0, :id => "five_vat",  :readOnly => true %>
			 <td>14.5% value</td>
             <td><%= f.text_field :fourt_value,  :value=>0,:id => "fourt_value",:readOnly => true, :size =>"20" %></td>
             <td>14.5% Vat</td>
             <td><%= f.text_field :fourt_vat, :value=>0,:id =>"fourt_vat", :readOnly => true, :size =>"20" %></td>
	</tr>
	<tr>
			 <td>Total Vat Value</td>
             <td><%= f.text_field :total_vat, :id =>"total_vat", :readOnly => true, :size =>"20", :value=>0 %></td>
			 <td>Sub Total</td>
             <td><%= f.text_field :sub_total, :value=>0,:id =>"sub_total", :readOnly => true, :size =>"20" %></td>
       
			 <td>Total Amount</td> 
             <td><%= f.text_field :total_amount, :size =>"20", :value=>0, :id => "total_amount", :readOnly => true %>
             <td>Discount(%)</td>
             <td><%= f.text_field :discount,:size =>"20", :value=>0, :id => "discount", :onkeyup=>"select_discount(id)" %>
            	</tr>
<tr>
			 <td>Discount Amount</td>
             <td><%= text_field_tag('discount_amont','', :id => "discount_amont",:readOnly => true, :size =>"20") %></td>
	         <td>Net Amt</td>
             <td><%= f.text_field :net_invoice_amount, :id => "net_invoice_amount", :size =>"20" %></td>

			<td>Purchase Return No</td>
			<td><%= f.select :pur_ret_no,PurchaseOrderReturn.find(:all, :conditions =>"org_code='#{@org_code}' " ).collect {|p| [ p.return_no]}, {:prompt => true},{:id => "return_no",:onchange => "ajaxSearch(id)"} %></td>
             
			<td>Return Amt</td>
            <td><%= f.text_field :ret_amt, :id => "ret_amt", :size =>"20"%></td>
 
</tr>

<tr>
			<td>Note Amount</td>
            <td><%= f.text_field :note_amt, :id => "note_amt", :size =>"20", :onkeyup=>"ajaxSearch(id)"%></td>
			<td>Goods Amt</td>
            <td><%= f.text_field :goods_amt, :id => "goods_amt", :size =>"20"%></td>


</tr>
	</table>    
<table align="center">
<tr>
	<td><%= submit_tag "", :value => " Save ", :class => "submit_button", :onClick => "this.disabled=true;this.value='Process..';this.form.submit();" %></td>
	<td><%= submit_tag "", :value => " Reset ", :type => "reset",  :class => "submit_button" %></td>
	<td valign="middle"><%= link_to "back",  goodsrecieptnotemasters_path, :class=>"new1" %></td>
</tr>
</table>	

<% end %>
</div>
