<h1>Editing test_booking_child</h1>

<% form_for(@test_booking_child) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :test_booking_id %><br />
    <%= f.text_field :test_booking_id %>
  </p>
  <p>
    <%= f.label :s_no %><br />
    <%= f.text_field :s_no %>
  </p>
  <p>
    <%= f.label :test_code %><br />
    <%= f.text_field :test_code %>
  </p>
  <p>
    <%= f.label :test_name %><br />
    <%= f.text_field :test_name %>
  </p>
  <p>
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </p>
  <p>
    <%= f.label :dis_ptage %><br />
    <%= f.text_field :dis_ptage %>
  </p>
  <p>
    <%= f.label :dis_amount %><br />
    <%= f.text_field :dis_amount %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :lab_type %><br />
    <%= f.text_field :lab_type %>
  </p>
  <p>
    <%= f.label :lab_amount %><br />
    <%= f.text_field :lab_amount %>
  </p>
  <p>
    <%= f.label :org_code %><br />
    <%= f.text_field :org_code %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @test_booking_child %> |
<%= link_to 'Back', test_booking_children_path %>