<p>
  <b>Test booking:</b>
  <%=h @test_booking_child.test_booking_id %>
</p>

<p>
  <b>S no:</b>
  <%=h @test_booking_child.s_no %>
</p>

<p>
  <b>Test code:</b>
  <%=h @test_booking_child.test_code %>
</p>

<p>
  <b>Test name:</b>
  <%=h @test_booking_child.test_name %>
</p>

<p>
  <b>Rate:</b>
  <%=h @test_booking_child.rate %>
</p>

<p>
  <b>Dis ptage:</b>
  <%=h @test_booking_child.dis_ptage %>
</p>

<p>
  <b>Dis amount:</b>
  <%=h @test_booking_child.dis_amount %>
</p>

<p>
  <b>Amount:</b>
  <%=h @test_booking_child.amount %>
</p>

<p>
  <b>Department:</b>
  <%=h @test_booking_child.department %>
</p>

<p>
  <b>Status:</b>
  <%=h @test_booking_child.status %>
</p>

<p>
  <b>Lab type:</b>
  <%=h @test_booking_child.lab_type %>
</p>

<p>
  <b>Lab amount:</b>
  <%=h @test_booking_child.lab_amount %>
</p>

<p>
  <b>Org code:</b>
  <%=h @test_booking_child.org_code %>
</p>


<%= link_to 'Edit', edit_test_booking_child_path(@test_booking_child) %> |
<%= link_to 'Back', test_booking_children_path %>