<script type="text/javascript"> 
	function details(id1)
	{
		window.open('/registrations/'+id1,'open_window','dependent, width=640, height=480, left=0, top=0');
	}
	
	function insurance_search()
	{   
		var from_date=document.getElementById('from_date_').value
		var to_date=document.getElementById('to_date_').value
		var org_code=document.getElementById('org_code1').value
		var insurance=document.getElementById('insurance').value
		
		req = new Ajax.Request('/insurance_masters/find_report/1', {
				method: 'get',
				parameters: { from_date:from_date, to_date :to_date, org_code:org_code,insurance:insurance },
				onComplete: function(transport) {
				processReqChange(transport);
				}
			});
		function processReqChange(req) 
		{
			if(req.responseText=="No Records")
				document.getElementById("table").value=req.responseText
			else
				document.getElementById("table").innerHTML=req.responseText
		}
	}
	function clear_function()
	{
		document.getElementById('org_code1').value=""
		document.getElementById('from_date_').value=""
		document.getElementById('to_date_').value=""
		document.getElementById('insurance').value=""
	}
 </script> 

<body style="margin:0px;" onload="insurance_search()">

<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">Report >>&nbsp;&nbsp;&nbsp;<a HREF='/insurance_masters/insurance_reporting/1' class="nav" style="text-decoration:none;">Insurance Registration</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<div id="form_data">
<% @date=format_date(:sort, Date.today ) %>
<font size="3" face="Calibri">
<%= form_tag ({:controller => "insurance_masters", :action => "generate_reports"}, {:method => "post"}) %>
<fieldset>
<legend><div class="font"><b>Search</b></div></legend>
<table width="90%"  align="center">
<tr>
	<td>Org.Code</td>
	<td><%= select:org_code1,"o",Person.find(:all, :select=>"DISTINCT org_code").collect {|p|[p.org_code]},{:prompt => 'All'},{:id => "org_code1"}  %></td>
	<td><label for="item_name">From Date</label></td>
	<td><%= text_field('from_date', '',:size => 20,:value=>"#{@date}") %><a href="javascript:void(0)" onClick="setYears(2010, 2030);showCalender(this,'from_date_');" >
		<img src="/images/cal.gif" ></a></td>
    	<td><label for="item_name">To Date</label></td>
	<td><%= text_field('to_date', '',:size => 20,:value=>"#{@date}") %><a href="javascript:void(0)" onClick="setYears(2010, 2030);showCalender(this,'to_date_');" >
		<img src="/images/cal.gif" ></a></td>
	<td>Insurance</td>
	<td><%= select:insurance ,"r", InsuranceMaster.find(:all, :conditions =>"org_code ='#{@org_code}'").collect{|p|[p.company_name]},{:prompt => true},{:id => "insurance"}  %></td>
	<td colspan="2"><%= link_to "Search","javascript:insurance_search()", :class => "submit_button" %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to "&nbsp;&nbsp;Clear&nbsp;&nbsp;", "javascript: clear_function()", :class => "submit_button" %></td>
</tr>	
</table>
</fieldset>

<div class="font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Results :</b>
</div>

<div id="table" align ="center">
</div>
<br/>
 <center><%= submit_tag "&nbsp;&nbsp;Save&nbsp;&nbsp;", :class => "submit_button" %></center>
 <%= form_tag %>
</body>
