<p>
  <b>Op patient return:</b>
  <%=h @opreturn_child.op_patient_return_id %>
</p>

<p>
  <b>Item code:</b>
  <%=h @opreturn_child.item_code %>
</p>

<p>
  <b>Item name:</b>
  <%=h @opreturn_child.item_name %>
</p>

<p>
  <b>Batch no:</b>
  <%=h @opreturn_child.batch_no %>
</p>

<p>
  <b>Expiry date:</b>
  <%=h @opreturn_child.expiry_date %>
</p>

<p>
  <b>Issue qty:</b>
  <%=h @opreturn_child.issue_qty %>
</p>

<p>
  <b>Sale rate:</b>
  <%=h @opreturn_child.sale_rate %>
</p>

<p>
  <b>Discount:</b>
  <%=h @opreturn_child.discount %>
</p>

<p>
  <b>Sale amount:</b>
  <%=h @opreturn_child.sale_amount %>
</p>

<p>
  <b>Return qty:</b>
  <%=h @opreturn_child.return_qty %>
</p>

<p>
  <b>Return rate:</b>
  <%=h @opreturn_child.return_rate %>
</p>

<p>
  <b>Return amt:</b>
  <%=h @opreturn_child.return_amt %>
</p>


<%= link_to 'Edit', edit_opreturn_child_path(@opreturn_child) %> |
<%= link_to 'Back', opreturn_children_path %>