<html>
<center><h3><font color="#015a84">Number Master</font></h3>
<%= link_to 'New', new_number_master_path, :class=>"new1" %>
</center>
</br>
<table>
<table id="tablesorter-demo" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
<thead>
  <tr>
  <th>S.No</th>
    <th>Mr no</th>
    
    <th>Op no</th>
    <th>Ip no</th>
    <th>Lab no</th>
    
    <th>Ip final bill receipt no</th>
    
	<th colspan="3" align="center">Permissions</th>
  </tr>
</thead>
<tbody>
<% @id=0 %>
<% @number_masters.each do |number_master| %>
<% if((@id % 2)==0)
		 id="datacellone"
else
		id="datacelltwo" 
	
 end %>
	<tr class='<%= id %>' style="height:30px">
    <td><%= @id+=1 %></td>
 
    <td><%=h number_master.mr_no %></td>
    
    <td><%=h number_master.op_no %></td>
    <td><%=h number_master.ip_no %></td>
    <td><%=h number_master.lab_no %></td>
    
    <td><%=h number_master.ip_final_bill_receipt_no %></td>
    
    <td align="center"><%= link_to '&nbsp;&nbsp;&nbsp;show&nbsp;&nbsp;&nbsp;', number_master, :class=>"submit_button" %></td>
	<td align="center"><%= link_to '&nbsp;&nbsp;&nbsp;edit&nbsp;&nbsp;&nbsp;', edit_number_master_path(number_master), :class=>"submit_button" %></td>   
	<td align="center"><%= link_to '&nbsp;&nbsp;&nbsp;delete&nbsp;&nbsp;&nbsp;', number_master, :confirm => 'Are you sure?', :method => :delete, :class=>"submit_button" %></td>
  </tr>
<% end %>
</table>
</html>

