<table id="tablesorter-demo" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
<thead>
	<tr>
    <th>S.No</th>
    <th>OrgCode</th>
    <th>OrgLocation</th>
    <th>Category</th>
    <th>Department</th>
    <th>Status</th>
    <th>HOD</th>
    <th>Ph.No.Hod</th>
	<th colspan="3">Permissions</th>
  </tr>
</thead>
<tbody>
<% @id=0 %>
<% @department_masters.each do |department_master| %>
<% if((@id % 2)==0)
		 id="datacellone"
else
		id="datacelltwo" 
	
 end %>
	<tr class='<%= id %>'>
    <td><%= @id=@id+1 %></td>
    <td><%=h department_master.org_code %></td>
    <td><%=h department_master.org_location %></td>
    <td><%=h department_master.category %></td>
    <td><%=h department_master.department %></td>
    <td><%=h department_master.status %></td>
    <td><%=h department_master.hod %></td>
    <td><%=h department_master.ph_no_hod %></td>
	<td align="center"><%= link_to image_tag("buttons/display1.png", :class => "info", :border =>"0"), department_master %></td>
	<td align="center"><%= link_to image_tag("buttons/modify.png", :class => "info", :border =>"0"), edit_department_master_path(department_master) %></td>
	<td align="center"><%= link_to image_tag("buttons/delete.png", :class => "info", :border =>"0"),department_master, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>