<% form_for(@department_master) do |f| %>
  <div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">Doctor Masters >>&nbsp;&nbsp;&nbsp;<a HREF='/department_masters?user_id=<%= @person.id %>' class="nav" style="text-decoration:none;">Depatrment Masters</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<fieldset>
<legend>Department Master</legend>
<table width=100%>
 <tr>
    <td>Org.Code</td>
    <td><%= f.text_field :org_code , :class => "text_field", :value =>@org_code, :readonly =>true %></td>
    <td>Org.Location</td>
    <td><%= f.text_field :org_location , :class => "text_field", :value =>@org_location, :readonly =>true %></td>
    <td><%= f.label :category %><sup>*</sup></td>
    <td><%= f.text_field :category , :class => "text_field", :value => "Consultant", :readonly => true %></td>
    <td>Department<sup>*</sup></td>
    <td><%= f.text_field :department , :class => "text_field" %></td>
</tr>
<tr>
    <td><%= f.label :status %></td>
    <td><%= f.text_field :status, :class => "text_field" %></td>
    <td>HOD</td>
    <td><%= f.text_field :hod, :class => "text_field" %></td>
    <td>PH.NO.HOD</td>
    <td><%= f.text_field :ph_no_hod, :class => "text_field", :pattern =>'[0-9]{10}' %></td>
<tr/>
</table>
</fieldset>
   <table align="center">
		<tr>
			<td><%= submit_tag "", :value => " Save ", :class => "submit_button" %></td>
<td><%= submit_tag "", :value => " Reset ", :class => "submit_button" %></td>
	<td valign="middle"><%= link_to "Back",  department_masters_path, :class=>"new1" %></td>
		</td>
	</table>
<% end %>

<%#link_to 'Back', department_masters_path %>
