<h3><center><font color="#015a84">OP Patient Return Records</font><br>
<%= link_to image_tag("Button_Images/new.png", :class => "info", :border =>"0"), new_op_patient_return_path(:user_id => @user_id)   %></center></h3>
<div align="center" width="100%">
<table class="sofT" width="90%">
  <tr class="info">
             <th>Org.Code</th>
             <th>Org.Location</th>
			 <th>Issue No</th>
             <th>MR No</th>
             <th>Return No</th>
             <th>Tot.Return Amt</th>
             
           	 <th colspan=3>Permissions</th>
         </tr>
<% @i=0 %>
          <% @op_patient_returns.each do |op_patient_return| %>
		           <% if((@i % 2)==0) 
	    	id="datacellone"
	      else
		 id="datacelltwo"
         end %>
         <tr class='<%= id %>'>
             <td><%=h op_patient_return.org_code %></td>
             <td><%=h op_patient_return.org_location %></td>
             <td><%=h op_patient_return.issue_No %></td>
             <td><%=h op_patient_return.mr_No %></td>
             <td><%=h op_patient_return.return_no %></td>
             <td><%=h op_patient_return.return_amount %></td>
            
   <td class='abc'><%= link_to image_tag("Button_Images/display1.png", :class => "info", :border =>"0"), op_patient_return %></td>
    <td class='abc'><%= link_to image_tag("Button_Images/modify.png", :class => "info", :border =>"0"), edit_op_patient_return_path(op_patient_return) %></td>
 	
  </tr>
<% end %>
</table>


</div>
