<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">Pharmacy >>&nbsp;&nbsp;&nbsp;<a HREF='/op_patient_returns' class="nav" style="text-decoration:none;">Sales Return</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div>
<br/><br/>
<center>
<%= link_to 'New',new_op_patient_return_path, :class=>"new1" %>
</center>
<script type="application/javascript">
var type
	function clear_file()
	{
		document.getElementById("return_no").value=""
		document.getElementById("issue_No").value=""
		document.getElementById("return_amount").value=""
	}
 </script>
<div align="center" width="100%">
<center>
<table class="tablesorter" border="0" cellpadding="0" cellspacing="1" >
<tbody>
	<tr>
	<td width="12%">&nbsp;</td>

	
	<td width="15%"><input type="text" style="width:100%" id="return_no" onKeyUp = "search_function(id,event)" placeholder="Search ReturN No"></td>
					<%= javascript_include_tag:defaults %>
					<%= observe_field 'return_no', :frequency => 0.01,
					:update => :name,
					:url => {:action => :observe_field_ex },
					:with => "'return_no='+escape($('return_no').value)+ '&issue_No=' + escape($('issue_No').value)+ '&return_amount=' + escape($('return_amount').value) " %>
					  
	<td width="15%"><input type="text" style="width:100%" id="issue_No" onKeyUp = "search_function(id,event)" placeholder="Search Issue No "></td>
					<%= observe_field 'issue_No', :frequency => 0.01,
					:update => :name,
					:url => {:action => :observe_field_ex },
					:with => "'return_no='+escape($('return_no').value)+ '&issue_No=' + escape($('issue_No').value)+ '&return_amount=' + escape($('return_amount').value) " %>
	<td width="15%"><input type="text" style="width:100%" id="return_amount" onKeyUp = "search_function(id,event)" placeholder="Search Return Amount"></td>
					<%= observe_field 'return_amount', :frequency => 0.01,
					:update => :name,
					:url => {:action => :observe_field_ex },
					:with => "'return_no='+escape($('return_no').value)+ '&issue_No=' + escape($('issue_No').value)+ '&return_amount=' + escape($('return_amount').value) " %>
	<td colspan="3" align="center" valign="top">
		<%= link_to 'Clear','', :class=>"new1",:onClick => "clear_file()"  %>
	</td>
	</td>
  </tr>
 </tbody>
</table>
</center>
</div>
<div id="name" align="center" width="100%">
<table id="tablesorter-demo" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
<thead>
	<tr>
  <th>S.No</th>      
     <th>Sc.No</th>
  <th>Invoice NO</th>
   <th>Tot.Return Amt</th>
	<th  align=center colspan="2">Permissions</th>
   </tr>
 </thead>
<tbody>
<% @i=0 %>
          <% @op_patient_return.each do |op_patient_return| %>
		  <% if((@i % 2)==0) 
	    	id="datacellone"
			else
			id="datacelltwo"
         end %>
         <tr class='<%= id %>' style="height:30px">
			<td><%= @i+=1 %></td>
             <td><%=h op_patient_return.return_no %></td>
             <td><%=h op_patient_return.receipt_no %></td>
             <td><%=h op_patient_return.return_amount %></td>

	         <td align="center"><%= link_to '&nbsp;&nbsp;&nbsp;edit&nbsp;&nbsp;&nbsp;', edit_op_patient_return_path(op_patient_return), :class=>"submit_button" %></td>   
			<td  align="center"><%= link_to '&nbsp;&nbsp;&nbsp;Print&nbsp;&nbsp;&nbsp;', {:controller=>'reports', :action => 'sales_thin_report_return', :id =>  op_patient_return.id}, :class=>"submit_button" %></td>
		</tr>
<% end %>
</tbody>
</table>
<p align="right"><div align="right" class="pagination"><%= will_paginate @op_patient_return,  :style => "font: bold 15px Arial red;" %></p>
