<script type="text/javascript"> 
	selection_option="doctor_visit"
	function clear_function()
	{
		document.getElementById('drug_type').value=""	
	}
    	function check()
	{
		var drug_type=document.getElementById('drug_type').value
		document.getElementById("frame").src="/reports/categorywise_report1/1?drug_type="+drug_type
	}
	
	function select_period(period)
	{
		var today = new Date();
		var dd = today.getDate();
		var datearray={"01" :"31","02" :"28","03" :"31","04" :"30","05" :"31","06" :"30","07" :"31","08" :"31","09" :"30","10" :"31","11" :"30","12" :"31"}
			
		var mm = today.getMonth()+1;
		if(mm<10)
		{
			mm="0"+mm
		}
		var yyyy=today.getFullYear();
		var year=yyyy+"-"+mm+"-"+dd	
		var revenue_type=period
		document.getElementById('from_date').readOnly= true
		document.getElementById('to_date').readOnly= true
		
		if(revenue_type=="Select Period")
		{
			
			document.getElementById('from_date').readOnly = false
			document.getElementById('to_date').readOnly = false
			
		}
		else if(revenue_type=="Today")
		{
		 	document.getElementById('from_date').value=yyyy+"-"+mm+"-"+dd
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Week")
		{
		 	document.getElementById('from_date').value='<%= (Date.today-7).strftime("%Y-%m-%d") %>'
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Month")
		{
		 
			document.getElementById('from_date').value=yyyy+"-"+mm+"-01"
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Year")
		{
		 
			document.getElementById('from_date').value=yyyy+"-01-01"
			document.getElementById('to_date').value=yyyy+"-12-31"
		}
		else if(revenue_type=="Last Month")
		{
		 	mm=mm-1
		 	if(mm<10)
		 	{
		 		mm="0"+mm
		 	}
			document.getElementById('from_date').value=yyyy+"-"+mm+"-01"
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+datearray[mm]
		}
		else if(revenue_type=="Last Year")
		{
			var yyy=parseInt(yyyy)-1;
			document.getElementById('from_date').value=yyy+"-01-01"
			document.getElementById('to_date').value=yyy+"-12-31"
		}
		check();
	}

	
</script> 
<body>
<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">Report >>&nbsp; <a HREF='/reports/categorywise_stock_report/1' class="nav" style="text-decoration:none;">Categorywise Stock List Report</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<div id="form_data">
<fieldset>
<legend><div class="font"><b>Search</b></div></legend>
<% @date=Date.today("%Y-%m-%d") %>
<table width="100%"  align="center">
<tr>
	<input type="hidden" id="org_code" %>
	<%= hidden_field_tag :org_location,'',:size => 20, :id => "org_location", :readOnly =>true %>

  <td>Category</td>


      <td><%= select :customer,'',StoreChild.find(:all, :conditions=>"drug_type!=''", :select=>"Distinct drug_type").collect{|p|[p.drug_type]},{:prompt => true},{:id => "drug_type"} %></td>


     <td><a href="javascript:void(0);" class="new1" onClick ="check()">Filter</a></td>
      <td><%= link_to 'Clear','', :class=>"new1", :onClick => "clear_function()" %></td>
</tr>
</table>
</fieldset>
<br/><br/>
 <center>
   <iframe src="" id="frame" width="100%" height="400px" align="center" style="border:none"/>
</center>
</body>
