<script type="text/javascript"> 
	function mrfun(id) 
	{	
		if(id=="package_category")
		{
			selectid=id
			query=document.getElementById(id).value
			if(query)
			Ajax_Code()
		}
	}
	function Ajax_Code()
	{
			req = new Ajax.Request('/reports/ajax_buildings/1', {
			method: 'get',
			parameters: { q1 : query,  type : selectid },
			onComplete: function(transport) {
			processReqChange(transport);
			}
		}); 
		function processReqChange(req) 
		{
			// request is complete
			if (req.readyState == 4) 
			{
				var results = req.responseText;
				var temp=results.split(",")
				if(selectid=="package_category")
				{
					var temp1=results.split("<division>")
					document.getElementById('sub_category').length=0
					var opt = document.createElement("option");
					document.getElementById("sub_category").options.add(opt);
					opt.text = "Please select"
					opt.value = ""
					for(i=0;i<temp1.length-1;i++)
					{
						var opt = document.createElement("option");
						document.getElementById("sub_category").options.add(opt);
						opt.text = temp1[i]
						opt.value = temp1[i]
					}
				}
			}
		}
	}
	function clear_function()
	{
		document.getElementById('from_date').value=""
		document.getElementById('to_date').value=""		
		document.getElementById('package_category').value=""
		document.getElementById('sub_category').value=""		
	}
    	function check()
	{
		var from_date=document.getElementById('from_date').value
		var to_date=document.getElementById('to_date').value
		var package_category=document.getElementById('package_category').value
		var sub_category=document.getElementById('sub_category').value
		
		document.getElementById("frame").src="/reports/patient_wise_report/1?to_date="+to_date+"&from_date="+from_date+"&package_category="+package_category+"&sub_category="+sub_category
	}
	
	function select_period(period)
	{
		var today = new Date();
		var dd = today.getDate();
		var datearray={"01" :"31","02" :"28","03" :"31","04" :"30","05" :"31","06" :"30","07" :"31","08" :"31","09" :"30","10" :"31","11" :"30","12" :"31"}
			
		var mm = today.getMonth()+1;
		if(mm<10)
		{
			mm="0"+mm
		}
		var yyyy=today.getFullYear();
		var year=yyyy+"-"+mm+"-"+dd	
		var revenue_type=period
		document.getElementById('from_date').readOnly= true
		document.getElementById('to_date').readOnly= true
		
		if(revenue_type=="Select Period")
		{
			
			document.getElementById('from_date').readOnly = false
			document.getElementById('to_date').readOnly = false
			
		}
		else if(revenue_type=="Today")
		{
		 	document.getElementById('from_date').value=yyyy+"-"+mm+"-"+dd
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Week")
		{
		 	document.getElementById('from_date').value='<%= (Date.today-7).strftime("%Y-%m-%d") %>'
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Month")
		{
		 
			document.getElementById('from_date').value=yyyy+"-"+mm+"-01"
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Year")
		{
		 
			document.getElementById('from_date').value=yyyy+"-01-01"
			document.getElementById('to_date').value=yyyy+"-12-31"
		}
		else if(revenue_type=="Last Month")
		{
		 	mm=mm-1
		 	if(mm<10)
		 	{
		 		mm="0"+mm
		 	}
			document.getElementById('from_date').value=yyyy+"-"+mm+"-01"
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+datearray[mm]
		}
		else if(revenue_type=="Last Year")
		{
			var yyy=parseInt(yyyy)-1;
			document.getElementById('from_date').value=yyy+"-01-01"
			document.getElementById('to_date').value=yyy+"-12-31"
		}
		
	}

	
</script> 
<body style="margin:0px;">
<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">&nbsp;&nbsp;Report>>&nbsp; <a HREF='/reports/patient_wise_package/1' class="nav" style="text-decoration:none;">Patientwise Package Dues</a></td>
    		<td align="right" width="30%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<div id="form_data">
<fieldset>
<legend><div class="font"><b>Search</b></div></legend>
<% @date=Date.today("%Y-%m-%d") %>
<table width="90%"  align="center">
<tr>
	<input type="hidden" id="org_code" %>
	<td><label for="item_name">Period</label></td>
	<td><%= select('period','',[['All'],['Today'],['This.Week'],['This.Month'],['This.Year'],['Last Month'],['Last Year'],['Select Period']],{:prompt => false},{:id => "period",:onChange => "select_period(this.value)"}) %></td>
	

<td><%= text_field('from_date', '',:size => 20,:id => "from_date",:value=>"#{@date-7}") %><a href="javascript:void(0)" onClick="setYears(1947, 2015);showCalender(this,'from_date');" >
		<img src="/images/cal.gif" ></a></td>
		<td>To</td>
	<td><input type=text id="to_date" name="date" size="17" value='<%= @date %>'><a href="javascript:void(0)" onClick="setYears(2011, 2012);showCalender(this,'to_date');" >
      <img src="/images/cal.gif" ></a></td>
      <td>Package Name</td>
      <td><%= select :category,'',PackageMasterMajestic.find(:all, :select=>"DISTINCT category").collect{|p| [p.category]},{:prompt =>true},{:id=> "package_category", :onChange=>"mrfun(id)"} %> </td>
      <td>Sub Package</td>
      <td><%= select :sub_category,'',PackageMasterMajestic.find(:all, :select=>"DISTINCT sub_category").collect{|p| [p.sub_category]},{:prompt =>true},{:id=> "sub_category"} %> </td>
      
      <td><a href="javascript:void(0);" class="new1" onClick ="check()">Filter</a></td>
       <td><%= link_to 'Clear','', :class=>"new1", :onClick => "clear_function()" %></td>
</tr>	
</table>
<table id="calenderTable">
        <tbody id="calenderTableHead">
          <tr>
            <td colspan="4" align="center">
	          <select onChange="showCalenderBody(createCalender(document.getElementById('selectYear').value,
	           this.selectedIndex, false));" id="selectMonth">
	              <option value="0">Jan</option>
	              <option value="1">Feb</option>
	              <option value="2">Mar</option>
	              <option value="3">Apr</option>
	              <option value="4">May</option>
	              <option value="5">Jun</option>
	              <option value="6">Jul</option>
	              <option value="7">Aug</option>
	              <option value="8">Sep</option>
	              <option value="9">Oct</option>
	              <option value="10">Nov</option>
	              <option value="11">Dec</option>
	          </select>
            </td>
            <td colspan="2" align="center">
			    <select onChange="showCalenderBody(createCalender(this.value, 
				document.getElementById('selectMonth').selectedIndex, false));" id="selectYear">
				</select>
			</td>
         
		  </tr>
       </tbody>
       <tbody id="calenderTableDays">
         <tr style="">
           <td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td>
         </tr>
       </tbody>
       <tbody id="calender"></tbody>
    </table>
</fieldset>
<br/><br/>
 <center>
   <iframe src="" id="frame" width="100%" height="400px" align="center" style="border:none"/>
</center>
</body>
