<table id="tablesorter-demo" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
<thead>
  <tr>
	<th>S.No</th>
    <th>Service Group Name</th>
    <th>Service Name</th>
    <th>Test name</th>
    <th>Charge</th>
	<th colspan="3">Permissions</th>
  </tr>
</thead>
<tbody>
<% @id=0 %>
<% @charge_masters.each do |charge_master| %>
<% if((@id % 2)==0)
		 id="datacellone"
else
		id="datacelltwo" 
	
 end %>
<tr class='<%= id %>'>
    <td><%= @id=@id+1 %></td>
    <td><%=h charge_master.service_group %></td>
    <td><%=h charge_master.service_name %></td>
    <td><%=h charge_master.test_name %></td>
    <td><%=h charge_master.charge %></td>
	<td align="center"><%= link_to image_tag("buttons/display1.png", :class => "info", :border =>"0"), charge_master %></td>
	<td align="center"><%= link_to image_tag("buttons/modify.png", :class => "info", :border =>"0"), edit_charge_master_path(charge_master) %></td>
	<td align="center"><%= link_to image_tag("buttons/delete.png", :class => "info", :border =>"0"),charge_master, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>