<%= stylesheet_link_tag 'heading' %>
<%= javascript_include_tag 'commonFunctionality.js' %>
<script language="javascript" type="text/javascript">
	function stopRKey(evt) {
		
		var evt  = (evt) ? evt : ((event) ? event : null);
		var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
		if ((evt.keyCode == 13) && (node.type=="text")) { return false; }
	}
	document.onkeypress = stopRKey;
</script>
<script type="text/javascript">
	var total_fields='<%= @total_fields %>';
	function change_focus_location(id,event)
	{
		var text_id=parseInt(id)+1;
		var length=<%= @field.length %>
		
		if(event.keyCode==13)
		{
			
			if(parseInt(total_fields)!=parseInt(text_id))
				document.getElementById(text_id).focus();
			else
				document.getElementById("submit").focus();
		}
	}

	function change_focus_location_press(id,event)
	{
		var text_id=parseInt(id)+1;
		var length=<%= @field.length %>
		if(parseInt(total_fields)!=parseInt(text_id))
			document.getElementById(text_id).focus();
		else
			document.getElementById("submit").focus();
	}
</script>
<body onload="document.getElementById('0').focus();">
<% form_for(@store_test_result) do |f| %></td>
 <%= f.error_messages %>

    <%= f.hidden_field :lab_no %>
    <%= f.hidden_field :mr_no %>
     <%= f.hidden_field :test_booking_id %>
    <%= f.hidden_field :admn_no %>
    <%= f.hidden_field :patient_type %>
	<%= f.hidden_field :service_name %>
	<%= f.hidden_field :org_code %>
	<%= f.hidden_field :org_location %>
   <u><font size="4px">
 <center><b><%= @main_service %></b></center>
 </font></u>
 <br/>
 <br/>
 <br/>
 <table align="center" width="80%">
	
	 <% j=0 %>
	 <% field_id=0 %>
  <% f.fields_for :store_test_result_children do |a| %>
  <%= a.hidden_field :field_type, :size =>20,  :class => "nbb" %>


	<% if(@field[j]=="Heading") %>		
		<tr>
			<td colspan="6" align="center">
			<%= a.text_field :test_name, :readOnly => true, :class => "nbb", :style => "background-color:#ecf3f7;border:0;font-weight:bold;font-family:Constantina,Georgia,'Nimbus Roman No9 L',serif;font-size:28;" %></td>
		</tr>
	<% elsif(@field[j]=="Sub-Heading") %>
		<tr>
			<td><%= a.text_field :test_name, :size =>40,  :readOnly => true, :class => "nbb", :style => "background-color:#ecf3f7;border:0;font-weight:bold;font-size:18;font-family:'Trebuchet MS',sans-serif;" %></td>
		</tr>
	<% elsif(@field[j]=="Content") %>
		<tr>
			<%= a.hidden_field :servce_name, :size =>20,  :class => "nbb" %>
			<td><%= a.text_field :test_name, :size =>30,  :readOnly => true, :class => "nbb", :style => "background-color:#ecf3f7;border:0;" %></td>
			<% if(@field_names[j]=="IMPRESSION" || @field_names[j]=="Impression" || @field_names[j]=="Blood Picture")%>
				<td><%= a.text_area :result, :rows =>3,:cols=>50,  :class => "nbb",:id => "#{field_id}", :onKeyUp=>"change_focus_location(id,event)", :onFocusOut=>"change_focus_location_press(id)" %></td>
			<% else %>
				<td><%= a.text_field :result, :size =>20,  :class => "nbb",:id => "#{field_id}", :onKeyUp=>"change_focus_location(id,event)", :onFocusOut=>"change_focus_location_press(id)" %></td>
			<% end %>	
			<td align="left"><%= a.text_field :lbound, :size =>30,  :readOnly => true, :class => "nbb", :style => "background-color:#ecf3f7;text-align:right;border:0;" %></td>
			<td><%= a.text_field :units, :size =>20,   :readOnly => true, :class => "nbb", :style => "background-color:#ecf3f7;text-align:center;border:0;" %></td>
		</tr>
		<% field_id=field_id+1 %>
	<% end %>
	<% j=j+1 %>	
<% end %>
</table>

    <center><td><%= submit_tag "", :value => " Save ", :class => "submit_button" , :onClick => "this.disabled=true;this.value='Process..';this.form.submit();" %></td></center>
<% end %>