<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">Pharmacy >>&nbsp;&nbsp;&nbsp;<a HREF='javascript:void(0);' class="nav" style="text-decoration:none;">Purchase Returns</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div>
<div id="form_data">
<%= stylesheet_link_tag 'jquery-ui' %>
<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'jquery-ui.min.js' %> 
  
  <script>
  $(document).ready(function() {
    $("input#service").autocomplete({
    source: [
			<% for item_master in @item_master %>
				'<%= item_master.product_name %>',
			<% end %>
			]
	});
  });
  </script>
  <script language="javascript" type="text/javascript">
	function stopRKey(evt) {
		
		var evt  = (evt) ? evt : ((event) ? event : null);
		var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
		
		if ((evt.keyCode == 13) && (node.type=="text")) { return false; }
	}
	document.onkeypress = stopRKey;
</script>

  <script type="application/javascript">
	
			var selectedid
			var query1
			var query2
			var po_id
			var org_code
			var vend
			function Search_date(id)
			{
			query1=document.getElementById(id)
			query2=query1.options[query1.selectedIndex].value
			
			if(id=="service")
			{
				po_id=document.getElementById('pocode').value
				selectedid=id
			}
			else if(id=="dates")
			{
				query1=document.getElementById(id)
				query2=query1.options[query1.selectedIndex].value
				selectedid=id
				vend=document.getElementById('vendor_name').value
				ajax()
			}
			
		}
		
		
		function select_date(id)
		{
			query1=document.getElementById(id)
			query2=query1.options[query1.selectedIndex].value
			selectedid=id
			vend=document.getElementById('vendor_name').value
			ajax()
		}

		var arr=new Array("pdate","vname")
		function ajax()
		{
		org_code=document.getElementById('org_code').value
			req = new Ajax.Request('/purchase_order_returns/date_select/1', {
				method: 'get',
				parameters: {q:query2, res:selectedid, po_no:po_id, org_code:org_code, vend:vend },
				onComplete: function(transport) {
				processReqChange(transport);
				}
			});
			function processReqChange(req) 
			{
				var results = req.responseText;
				var temp=new Array()
				var temp1=new Array()
				temp1=results.split("<division>")
				var temp2=new Array()
				if(selectedid=="dates")
				{
					for(i=0;i<temp1.length-1;i++)
					{	
						temp2=temp1[i].split(",")
						var add_amount_fields="amount,sub_total,total";
						var store=new Array();
						store[0]=temp2[0]
						store[1]=temp2[1]
						store[2]=temp2[2]
						store[3]=temp2[3]
						store[4]=temp2[6]
						store[5]=temp2[5]
						store[6]=temp2[6]
						store[7]=temp2[7]
						add_row('r',9,'displayTable',store,add_amount_fields,9)
					}
				}
				else if(selectedid=="dcode")
				{
					document.getElementById('name').value=temp[0]
					document.getElementById('hod').value=temp[1]
					document.getElementById('hod').style.background="#FEF5CA"
					document.getElementById('name').style.background="#FEF5CA"
				}
			}
		}
		function calling_deptcode()
		{
			query1=document.getElementById('dcode')
			query2=query1.options[query1.selectedIndex].value
			selectedid="dcode"
			ajax()
		}
		
	function select_returnamt(cha)
	{
		var sr5=document.getElementById("r"+cha+"c5").value

		var sr6=document.getElementById("r"+cha+"c7").value

		sr15=parseInt(sr5)

		sr16=parseInt(sr6)

		var sr=document.getElementById("r"+cha+"c8").value

		sr8=parseInt(sr)
		if(sr16>sr15)
		{
			alert("Enter The Valid Quantity")
			document.getElementById("r"+cha+"c9").value=""
			document.getElementById("r"+cha+"c10").value=""
			document.getElementById("r"+cha+"c8").value=""
		}
		else
		{
		
			var result1=sr16*sr
			document.getElementById("r"+cha+"c9").value=result1
		}
		var table = document.getElementById("displayTable");
		document.getElementById("amount").value=0;
		for(i=0;i<table.rows.length;i++)
		{
			if(document.getElementById("r"+i+"c9").value!="")
			{

				document.getElementById("amount").value=parseFloat(document.getElementById("amount").value)+parseFloat(document.getElementById("r"+i+"c9").value)
				alert(document.getElementById("amount").value)
				document.getElementById("sub_total").value=parseFloat(document.getElementById("amount").value)+parseFloat(document.getElementById("r"+i+"c9").value)
				
			}
			else
				break;
		}


	 
}

function Search_medicine(id,event)
{
		
			if(event.keyCode!=13)
				return false;
			query2=document.getElementById(id).value
			selectedid=id
			ajax()
}
	
function getdlno(id)
{
	var agency=document.getElementById(id).value
	
		if(agency!="" && agency)
			{
				req = new Ajax.Request('/goodsrecieptnotemasters/ajax/1', 
					{
						method: 'get',
						parameters: { agency: agency },
						onComplete: function(transport){
							processReqChange(transport);
							}
					}); // end ajax req
			}
			else
			{
				alert("Please Select Agency Name")
				
					document.getElementById(id).style.background='white'
					document.getElementById(id).readOnly=false
					document.getElementById(id).value=""
				
			}
}	



function cal_concession(id)
	{
		if(document.getElementById("doctor1").value!="" && document.getElementById("doctor1").value)
		{
			
			document.getElementById('total').value=(parseFloat(document.getElementById('amount').value)-(document.getElementById('amount').value*document.getElementById(id).value/100)).toFixed(2);
			document.getElementById('sub_total').value=(parseFloat(document.getElementById('amount').value)-(document.getElementById('amount').value*document.getElementById(id).value/100)).toFixed(2);
			
			var sub_total_value=document.getElementById('amount').value
			var discount=document.getElementById(id).value
			document.getElementById('concession_amount').value=((sub_total_value*discount)/100).toFixed(2);

		}
		else
		{
			alert("Please select Authority Name");
			document.getElementById(id).value=0;
		}
	}

function amount_calculation(amount_type)
	{ 
		
		var sub_total=0,adjust=0;
		if(document.getElementById('total').value!="")
			sub_total=parseFloat(document.getElementById('total').value).toFixed(2);
		
		if(document.getElementById('adjust').value!="")
			adjust=document.getElementById('adjust').value;

		if(amount_type=="find_round_amount")
		{
			if(document.getElementById('receipt_amt').value!="")
			{
				document.getElementById('round').value=(((parseFloat(amount)+parseFloat(cr_note)+parseFloat(adjust))-parseFloat(dr_note))-parseFloat(document.getElementById('net_amount').value)).toFixed(2);
			}
			else
			{
				document.getElementById('round').value=((parseFloat(amount)+parseFloat(cr_note)+parseFloat(adjust))-parseFloat(dr_note)).toFixed(2);	
			}	
		}
		else
		{

			var net_amount =(parseFloat(sub_total)+parseFloat(adjust)).toFixed(2);
	
			var round_value=Math.round(net_amount)
			document.getElementById('round').value=(parseFloat(net_amount)-parseFloat(round_value)).toFixed(2);
			document.getElementById('sub_total').value=parseFloat(round_value).toFixed(2);
			
		}
	}
</script>
<body onload="calling_deptcode()" >
<% form_for(@purchase_order_return) do |f| %>
<% @date=format_date(:sort, Date.today ) %>
<div align="center">
<fieldset>
<legend><div class="font"><b>Return Details</b></div></legend>
<table width="100%">
	<%= f.hidden_field :org_code, :value => @org_code, :size => 20, :id => "org_code", :required => true, :readonly => true %></td>
	<%= f.hidden_field :org_location, :value => @org_location, :size => 20, :id => "org_location", :required => true, :readonly => true %></td>
	
    <tr>		
		
		<td>Supplier<sup>*</sup> </td>
		<td> <%= f.select :agency_names, AgencyMaster.find(:all).collect{|p|[p.agency_name]}, {:prompt => true}, {:id =>"vendor_name", :onChange => "getdlno(id)" } %> </td> 
		<td>Address </td>
		<td><%= f.text_field :address , :id=> "address", :size => 20 %>  </td>
		<td>Entry No</td>
		<td><%= f.text_field :return_no , :id=> "return_no", :size => 20,:readOnly => true %>  </td>
		<td>Entry Date</td>
		<td> <%= f.text_field :return_date , :value => "#{@date}" ,:size => 20, :readOnly => true, :id =>"return_date" %>  
		<a href="javascript:void(0)" onClick="setYears(1900, 2050);showCalender(this,'return_date');" >
		<img src="/images/cal.gif" ></a></td>
		
</tr>	
	<tr>
<td>Period</td>
		<td> <%= f.select :expiry_list,[['15 Days'],['1 Month'],['3 Months'],['6 Months']],{:prompt =>true},{ :id => "dates", :required => true, :onChange => "select_date(id)", :style=>"width:158px;"}   %>  </td>
	     <%= f.hidden_field :authorization, :id => "name", :size => 20,:value=>"Main" %> 
	   	 <%= f.hidden_field :authorized, :id => "name", :size => 20 %> 
		 <%= f.hidden_field :a_dep, :id => "hod", :size => 20 %>  
		
</tr>
</table>

</fieldset>

<table align="center">
  <tr>
<td colspan="10">
	<div id="info">
    <table class="tableone">
   
  <caption style="background: url(/images/vertical1_04.jpg) repeat-x top left;text-align:center;" > <font color="#F0FFFF" face="Cambria" ><b>Purchase Returns</b></font></caption>
      <thead>
        <tr>
          <th class="th1"  style="color:black;">S.No</th> 
          <th class="th2"  style="color:black;">Product Name</th> 
		  <th class="th2"  style="color:black;">Batch No</th> 
	     <th class="th2"   style="color:black;">Expiry Dt</th>
	     <th class="th2"  style="color:black;">Avail. Qty</th>
	     <th class="th2"  style="color:black;">Pur. Rate</th>
	    <th class="th2"  style="color:black;">Return Qty</th>
		<th class="th2"  style="color:black;">Return Rate</th>
		<th class="th2"  style="color:black;">Amt</th>
         <th class="th1"  style="color:black;">Remove</th>
        </tr>
      </thead>
     <tbody>
		<tr><td colspan="10">
			<div class="innerb">
			<table class="tabletwo" id="displayTable">
			<% i=0 %>
			<% f.fields_for :purchase_order_return_children do |a| %>
				<% if (i%2==0) %>
					<tr>
				<% else%>
					<tr class="dk">
				<% end %>
					<td class="td1"><%= a.text_field :s_no, :style=>"width:100%", :id => "r#{i}c1", :class => "nbb" %></td> 
					<td class="td2"><%= a.text_field :item_name, :style=>"width:100%", :id => "r#{i}c2", :class => "nbb" %></td> 
					<td class="td2"><%= a.text_field :batch_no, :style=>"width:100%", :id => "r#{i}c3", :class => "nbb" %></td> 
					<td class="td2"><%= a.text_field :expiry_date, :style=>"width:100%", :id => "r#{i}c4", :class => "nbb" %></td> 
					<td class="td2"><%= a.text_field :quantity, :style=>"width:100%", :id => "r#{i}c5", :class => "nbb" %></td> 
					<td class="td2"><%= a.text_field :purchase_rate, :style=>"width:100%", :id => "r#{i}c6", :class => "nbb" %></td> 
					<td class="td2"><%= a.text_field :return_qty, :style=>"width:100%", :id => "r#{i}c7", :class => "nbb", :onkeyup => "select_returnamt('#{i}')" %></td> 
					<td class="td2"><%= a.text_field :return_rate, :style=>"width:100%", :id => "r#{i}c8", :class => "nbb", :onkeyup => "select_returnamt('#{i}')" %></td> 
					<td class="td2"><%= a.text_field :return_amt, :style=>"width:100%", :id => "r#{i}c9", :class => "nbb" %></td> 
					<td class="td1" id="r<%= i %>c10"></td>
				</tr>
				<% i+=1 %>
			<% end %>
			</table>
			</div>
		</td>
		</tr>
	</tbody>
	  </table>
   </div>
	</td>
  </tr>
 </table>

<br>
<table>
<tr>
		<td>Sub Total</td>
		<td><%= f.text_field :discount_percentage, :class =>"text_field" ,:id => "amount"  %></td>
		<td>Discount(%)</td>
		<td><%= f.text_field :discount_percentage, :class =>"text_field" ,:id => "concession", :onkeyup => "cal_concession(id)"  %></td>
		<td>Discount Amount</td>
		<td><%= f.text_field :concession_amount, :class =>"text_field" ,:id => "concession_amount" , :readOnly => true %></td>
		<td>Dis.Authority </td>
		<td><%= f.text_field :ref,:id => "doctor1", :class =>"text_field"  %><br/>
</tr>
		<td>Gross</td>
		<td><%= f.text_field :due_amount, :class =>"text_field" ,:id => "total", :readOnly => true %></td>
		<td>Adjust</td>
		<td><%= f.text_field :adjust, :id=>"adjust", :class =>"text_field", :onKeyup => "amount_calculation('find_net_amount')"  %><br/>
		<td> Round</td>
		<td><%= f.text_field :round, :class =>"text_field",:id => "round", :onKeyup => "amount_calculation('find_net_amount')", :readOnly => true %></td>
		<td>Amount</td>
		<td><%= f.text_field :amount,:size => "20", :id => "sub_total", :class=>"text_field" %></td>
</tr>
   <tr >
		<td>Reason For Return </td>
		<td colspan="5"><%= f.text_area :reason_for_return,:size => "105x3" %></td>
   </tr>
</table>
<table align="center">
<tr>
	<td><%= submit_tag "", :value => " Update ", :class => "submit_button" %></td>
	<td valign="middle"><%= link_to "back",  purchase_order_returns_path, :class=>"new1" %></td>
</tr>
</table>
	
 </div>
<% end %>

