<script type="text/javascript"> 

		
	function find_test_details(id)
	{
		if(id=="lab_department")
		{
			selectid=id
			query=document.getElementById(id).value
			if(query)
			Ajax_Code()
		}
	}
	function Ajax_Code()
	{
			req = new Ajax.Request('/reports/ajax_buildings2/1', {
			method: 'get',
			parameters: { q1 : query,  type : selectid },
			onComplete: function(transport) {
			processReqChange(transport);
			}
		}); 
		function processReqChange(req) 
		{
			// request is complete
			if (req.readyState == 4) 
			{
				var results = req.responseText;
				var temp=results.split(",")
				if(selectid=="lab_department")
				{
					var temp1=results.split("<division>")
					document.getElementById('services').length=0
					var opt = document.createElement("option");
					document.getElementById("services").options.add(opt);
					opt.text = "Please select"
					opt.value = ""
					for(i=0;i<temp1.length-1;i++)
					{
						var opt = document.createElement("option");
						document.getElementById("services").options.add(opt);
						opt.text = temp1[i]
						opt.value = temp1[i]
					}
				}
			}
		}
	}

function clear_function()
	{
		document.getElementById('from_date__').value=""
		document.getElementById('to_date__').value=""
		document.getElementById('lab_department').value=""		
	}

	
	function select_period(period)
	{
		var today = new Date();
		var dd = today.getDate();
		var datearray={"01" :"31","02" :"28","03" :"31","04" :"30","05" :"31","06" :"30","07" :"31","08" :"31","09" :"30","10" :"31","11" :"30","12" :"31"}
			
		var mm = today.getMonth()+1;
		if(mm<10)
		{
			mm="0"+mm
		}
		var yyyy=today.getFullYear();
		var year=yyyy+"-"+mm+"-"+dd	
		var revenue_type=period
		document.getElementById('from_date_').readOnly= true
		document.getElementById('to_date_').readOnly= true
		if(revenue_type=="Select Period")
		{
			
			document.getElementById('from_date_').readOnly = false
			document.getElementById('to_date_').readOnly = false
			
		}
		else if(revenue_type=="Today")
		{
		 	document.getElementById('from_date_').value=yyyy+"-"+mm+"-"+dd
			document.getElementById('to_date_').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Week")
		{
		 	document.getElementById('from_date_').value='<%= (Date.today-7).strftime("%Y-%m-%d") %>'
			document.getElementById('to_date_').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Month")
		{
		 
			document.getElementById('from_date_').value=yyyy+"-"+mm+"-01"
			document.getElementById('to_date_').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Year")
		{
		 
			document.getElementById('from_date_').value=yyyy+"-01-01"
			document.getElementById('to_date_').value=yyyy+"-12-31"
		}
		else if(revenue_type=="Last Month")
		{
		 	mm=mm-1
		 	if(mm<10)
		 	{
		 		mm="0"+mm
		 	}
			document.getElementById('from_date_').value=yyyy+"-"+mm+"-01"
			document.getElementById('to_date_').value=yyyy+"-"+mm+"-"+datearray[mm]
		}
		else if(revenue_type=="Last Year")
		{
			var yyy=parseInt(yyyy)-1;
			document.getElementById('from_date_').value=yyy+"-01-01"
			document.getElementById('to_date_').value=yyy+"-12-31"
		}
		
	}

	function check()
	{   
		var from_date=document.getElementById('from_date_').value
		var to_date=document.getElementById('to_date_').value
		var service=document.getElementById('services').value
		var consultant=document.getElementById('consultant').value
		var lab_department=document.getElementById('lab_department').value
		
		document.getElementById("frame").src="/reports/doctorwise_lab/1?from_date="+from_date+"&to_date="+to_date+"&service="+service+"&lab_department="+lab_department+"&consultant="+consultant
	}
 </script> 
 <body style="margin:0px;">
<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">&nbsp;&nbsp;Report >>&nbsp;&nbsp;&nbsp;Laboratory Reports >>&nbsp;&nbsp;&nbsp;<a HREF="javascript:void(0);" style="text-decoration:none;">DoctorWise Lab Refunds</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<div id="form_data">
<font size="3" face="Calibri">
<%= form_tag ({:controller => "test_bookings", :action => "generate_reports"}, {:method => "post"}) %>
<% @date=format_date(:sort, Date.today ) %>
<% @prev_date=format_date(:sort, Date.today-7 ) %>
<fieldset>
<legend><div class="font"><b>Search</b></div></legend>
<% test_master=Testmaster.first %>
<table width="100%"  align="center">
<tr>
	<td><label for="item_name">Period</label></td>
	<td><%= select('period','',[['All'],['Today'],['This.Week'],['This.Month'],['This.Year'],['Last Month'],['Last Year'],['Custom']],{:prompt => false},{:id => "period",:onChange => "select_period(this.value)"}) %></td>
	<input type="hidden" id="org_code_c" %>
	<td><label for="item_name"></label></td>
	<td><%= text_field('from_date_', '',:size => 8, :value => @prev_date, :id => "from_date_") %><a href="javascript:void(0)" onClick="setYears(2000, 2050);showCalender(this,'from_date_');" >
		<img src="/images/cal.gif" ></a></td>
    <td><label for="item_name">To</label></td>
	<td><%= text_field('to_date_', '',:size => 8, :value => @date, :id => "to_date_" ) %><a href="javascript:void(0)" onClick="setYears(2000, 2050);showCalender(this,'to_date_');" >
		<img src="/images/cal.gif" ></a></td>

<%
%>
	<td>Consultant</td>
	<td><%= select :consultant,'',@consultant1,{:prompt => true},{:id => "consultant"} %></td>
	
	<td>Service Group</td>
	<td><%= select ('test_department','',Testmaster.find(:all, :select =>"DISTINCT department_name").collect{|p| [p.department_name]},{:prompt =>'All'},{:id => "lab_department",:onchange => "find_test_details(id)"}) %></td>

	</tr><tr><td>Test Name</td>
       <td colspan="3"><%= select ('services','',Testmaster.find(:all, :conditions => "department_name='#{test_master.department_name}'").collect{|p| [p.test_name]},{:prompt =>'All'},{:id => "services"}) %></td>

	<td colspan="2"><%= link_to "Filter","javascript:check()",:class=>"submit_button" %></a>
		<%= link_to "Clear", "javascript: clear_function()",:class=>"submit_button" %></td>
</tr>	
</table>
</fieldset>

<div class="font" id="table">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Results :</b>
</div>
<table id="calenderTable">
        <tbody id="calenderTableHead">
          <tr>
            <td colspan="4" align="center">
	          <select onChange="showCalenderBody(createCalender(document.getElementById('selectYear').value,
	           this.selectedIndex, false));" id="selectMonth">
	              <option value="0">Jan</option>
	              <option value="1">Feb</option>
	              <option value="2">Mar</option>
	              <option value="3">Apr</option>
	              <option value="4">May</option>
	              <option value="5">Jun</option>
	              <option value="6">Jul</option>
	              <option value="7">Aug</option>
	              <option value="8">Sep</option>
	              <option value="9">Oct</option>
	              <option value="10">Nov</option>
	              <option value="11">Dec</option>
	          </select>
            </td>
            <td colspan="2" align="center">
			    <select onChange="showCalenderBody(createCalender(this.value, 
				document.getElementById('selectMonth').selectedIndex, false));" id="selectYear">
				</select>
			</td>
           
		  </tr>
       </tbody>
       <tbody id="calenderTableDays">
         <tr style="">
           <td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td>
         </tr>
       </tbody>
       <tbody id="calender"></tbody>
    </table>
</body>

 <center>
   <iframe src="" id="frame" width="100%" height="400px" align="center" style="border:none"/>
</center>
</body>
