<script type="text/javascript"> 
		
	function testbooking_search()
	{   
		
		var from_date=document.getElementById('from_date').value
		var to_date=document.getElementById('to_date').value
		
		var age=document.getElementById('age').value
		var org_code=document.getElementById('org_codeall').value
		var reffered_by=document.getElementById('reffered_by').value
		
		var department=document.getElementById('lab_department').value
		var test=document.getElementById('services').value
		
		document.getElementById("table").src="/reports/lab_consultants/1?org_code="+org_code+"&to_date="+to_date+"&from_date="+from_date+"&reffered_by="+reffered_by+"&department="+department+"&test="+test+"&format=pdf"
		
	}
	function clear_function()
	{
		document.getElementById('org_codeall').value=""
		document.getElementById('from_date_').value=""
		document.getElementById('to_date_').value=""
		document.getElementById('age').value=""
		document.getElementById('patient').value=""		
		document.getElementById('reffered_by').value=""		
	}

	function select_period(period)
	{
		var today = new Date();
		var dd = today.getDate();
		var datearray={"01" :"31","02" :"28","03" :"31","04" :"30","05" :"31","06" :"30","07" :"31","08" :"31","09" :"30","10" :"31","11" :"30","12" :"31"}
			
		var mm = today.getMonth()+1;
		if(mm<10)
		{
			mm="0"+mm
		}
		var yyyy=today.getFullYear();
		var year=yyyy+"-"+mm+"-"+dd	
		var revenue_type=period
		document.getElementById('from_date').readOnly= true
		document.getElementById('to_date').readOnly= true
		
		if(revenue_type=="Select Period")
		{
			
			document.getElementById('from_date').readOnly = false
			document.getElementById('to_date').readOnly = false
			
		}
		else if(revenue_type=="Today")
		{
		 	document.getElementById('from_date').value=yyyy+"-"+mm+"-"+dd
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Week")
		{
		 	document.getElementById('from_date').value='<%= (Date.today-7).strftime("%Y-%m-%d") %>'
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Month")
		{
		 
			document.getElementById('from_date').value=yyyy+"-"+mm+"-01"
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+dd
		}
		else if(revenue_type=="This.Year")
		{
		 
			document.getElementById('from_date').value=yyyy+"-01-01"
			document.getElementById('to_date').value=yyyy+"-12-31"
		}
		else if(revenue_type=="Last Month")
		{
		 	mm=mm-1
		 	if(mm<10)
		 	{
		 		mm="0"+mm
		 	}
			document.getElementById('from_date').value=yyyy+"-"+mm+"-01"
			document.getElementById('to_date').value=yyyy+"-"+mm+"-"+datearray[mm]
		}
		else if(revenue_type=="Last Year")
		{
			var yyy=parseInt(yyyy)-1;
			document.getElementById('from_date').value=yyy+"-01-01"
			document.getElementById('to_date').value=yyy+"-12-31"
		}
	}


	function find_test_details(id)
	{
		
		var test_name= document.getElementById(id).value
		var org_code = document.getElementById("org_codeall").value
		var selected_type="department"
		if(test_name)
		{
			req = new Ajax.Request('/test_bookings/ajax_function/1', 
				{
					method: 'get',
					parameters: { query:test_name, org_code:org_code, selected_type:selected_type },
					onComplete: function(transport){
						processReqChange(transport);
						}
				}); // end ajax req
			function processReqChange(req) 
			{
				// request is complete
				if (req.readyState == 4) 
				{
					var results = req.responseText;
					
					var temp=results.split("<division>")

					document.getElementById("services").length=0
					var opt = document.createElement("option");
					document.getElementById("services").options.add(opt);
					opt.text = ""
					opt.value = ""
					for(i=0;i<temp.length-1;i++)
					{
						var opt = document.createElement("option");
						document.getElementById("services").options.add(opt);
						opt.text = temp[i]
						opt.value = temp[i]
					}
				}
			}
		}
	}
 </script> 

<body style="margin:0px;" onload="testbooking_search()">

<div id="form_name_display">
	<table width="100%" border=0" cellspacing="0" cellpadding="0">
  	<tr>
    		<td width="50%">&nbsp;&nbsp;Report >>&nbsp;&nbsp;&nbsp;Consultant Reports >>&nbsp;&nbsp;&nbsp;<a HREF='/reports/lab_refferal/1' class="nav" style="text-decoration:none;">Consultant Lab Referral Report</a></td>
    		<td align="right" width="50%"><%= format_date(:short, Date.today ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  	</tr>
	</table>
</div><br/>
<div id="form_data">
<font size="3" face="Calibri">
<%= form_tag ({:controller => "test_bookings", :action => "generate_reports"}, {:method => "post"}) %>
<% @date=format_date(:sort, Date.today ) %>
<% @prev_date=format_date(:sort, Date.today-7 ) %>
<fieldset>
<legend><div class="font"><b>Search</b></div></legend>
<% test_master=Testmaster.first %>
<table width="90%"  align="center">
<tr>
	<td><label for="item_name">Period</label></td>
	<td><%= select('period','',[['All'],['Today'],['This.Week'],['This.Month'],['This.Year'],['Last Month'],['Last Year'],['Select Period']],{:prompt => false},{:id => "period",:onChange => "select_period(this.value)"}) %></td>
	<td colsapn="2"><%= text_field('from_date', '',:size => 20, :value => @prev_date, :id=>"from_date") %><a href="javascript:void(0)" onClick="setYears(2000, 2050);showCalender(this,'from_date');" >
	<img src="/images/cal.gif" ></a>To
	<%= text_field('to_date', '',:size => 20, :value=>@date, :id=>"to_date") %><a href="javascript:void(0)" onClick="setYears(2000, 2050);showCalender(this,'to_date');" >
		<img src="/images/cal.gif" ></a></td>
	<td>Consultant</td>
	<td><%= select:reffered ,"r", TestBooking.find(:all, :select=> "DISTINCT refferal_doctor").collect{|p| [p.refferal_doctor]},{:prompt => true},{:id=>"reffered_by"}  %></td>
	<td>Lab Departments</td>
	<td><%= select ('test_department','',Testmaster.find(:all, :select =>"DISTINCT department_name").collect{|p| [p.department_name]},{:prompt =>true},{:id => "lab_department",:onchange => "find_test_details(id)"}) %></td>
</tr>
<tr>
	<td>Services</td>
       <td colspan="3"><%= select ('services','',Testmaster.find(:all).collect{|p| [p.test_name]},{:prompt =>true},{:id => "services"}) %></td>


	

	<%= hidden_field_tag:mr_no ,"", :id=>"mr_no" %>
	<%= hidden_field_tag:age ,"", :id=>"age" %>

	
	
	
	<%= hidden_field_tag :org_code1,"",:value=>"#{@org_code}", :id => "org_codeall" %>

	<td colspan="2"><%= link_to "Search","javascript:testbooking_search()",:class=>"submit_button" %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to "&nbsp;&nbsp;Clear&nbsp;&nbsp;", "javascript: clear_function()",:class=>"submit_button" %></td>
</tr>	
</table>
</fieldset>

<div class="font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Results :</b>
</div>
<iframe src="" id="table" width="100%" height="400px" align="center" style="border:none"/>
 <%= form_tag %>
</body>
