<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Itemmasters: <%= controller.action_name %></title>
   <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'css' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'calendar.js' %>
  <%= javascript_include_tag 'commonFunctionality.js' %>
   <%= stylesheet_link_tag 'table_style' %>
   <%= javascript_include_tag 'jquery-latest.js' %>
    <%= javascript_include_tag 'jquery.tablesorter.js' %>
  <script type="text/javascript">
	$(function() {	
		$("#tablesorter-demo").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
		$("#options").tablesorter({sortList: [[0,0]], headers: { 3:{sorter: false}, 4:{sorter: false}}});
	});	
	</script>
</head>
<body oncontextmenu="return false">
<script type="text/javascript">var v='<%= notice %>';if(v!="")alert('<%= notice %>');</script>

<%= yield %>

</body>
</html>
